[2019-06-20 12:54] faridmdnor opened #3 "Feature Request"
Can the author develop Auto deployment feature from Github or Bitbucket in this app?

[2019-06-20 13:09] andreapollastri commented on #3
Hi Farid,
currently I'm working on this feature but GIT is preinstalled and if you need you can use it in your websites via SSH. I'll update Cipi with new features soon.

[2019-06-21 07:56] #3 closed

[2019-06-21 08:06] shark86 opened #4 "Composer installation"
Can you include composer installation of this application?

[2019-06-24 08:45] andreapollastri commented on #4
I'll do it soon... return in 2-3 days and it will be done! Bye

[2019-06-24 08:45] #4 closed

[2019-06-24 17:14] xavierle opened #5 "deployment on scaleway error"
ubuntu 18.04

<\ SETUP COMPLETE >

URL: http://
USER: admin@admin.com
PASS: 12345678

Enjoy Cipi :)

nothing on the access IP of the server

scaleway is a bit special

the access ip to access the server is not the same it shows by ifconfig
so maybe some additionnal config shall be done

[2019-06-24 20:05] xavierle commented on #5
installation of the panel on a more standard server is finalizing OK.
i tell you about a node  installation on scaleway :

here is some result from installation of node on scaleway

MySql service: OK!

bash: line 99: sudo: command not found

bash: line 101: sudo: command not found

bash: line 103: sudo: command not found

bash: line 105: sudo: command not found

bash: line 107: sudo: command not f

[2019-06-25 08:34] andreapollastri commented on #5
Hi Xavierle,
as you told, scaleway is a bit special!
So I think that you have to download go.sh script and custom it declaring your VPS IP at row number 9:

IP=$(dig +short myip.opendns.com @resolver1.opendns.com)

become

IP=123.456.789.0 (your IP)

than upload the custom go.sh on your server and run it as root.

Let me know if it works!

[2019-06-26 09:30] andreapollastri commented on #5
Did you solve it?

[2019-06-26 09:32] xavierle commented on #5
I will test is later on

[2019-06-26 10:44] andreapollastri opened #6 "SECURITY FIX: random password into go.sh"

[2019-06-26 10:44] andreapollastri opened #7 "improve security"
- WAF (web application firewall)
- HTTP header
- Password and data Encrypt

[2019-06-26 10:44] andreapollastri opened #8 "apache + nginx support"

[2019-06-26 10:44] andreapollastri opened #9 "NEW FEATURE: backup manager"
- Local Backup
- S3 Backup
- SFTP Backup

[2019-06-26 10:45] andreapollastri opened #10 "Application install wizard (as WP, Laravel, etc.)"

[2019-06-26 10:46] andreapollastri opened #11 "sendmail() integration"

[2019-06-26 11:47] andreapollastri opened #12 "Digital Ocean API integration (create/distroy VPS)"

[2019-06-26 11:47] andreapollastri opened #13 "Server Monitor Cron + Status log (24h) + E-mail / Slack / Telegram server status notification"

[2019-06-26 11:49] andreapollastri opened #14 "GIT CI/CD integration"

[2019-06-26 12:04] andreapollastri commented on #5
OK! Let me know!
And thankyou also for your e-mail... I will reply soon... in the meanwhile I notice to you that I just compile a roadmap of this project. You can find it here:  https://github.com/andreapollastri/cipi/projects/2
If you need or if you want suggest any other feature you can open an issue so I put it into a sprint if it's a valid new feature.
Thankyou for your feedback :)

[2019-06-26 12:19] andreapollastri opened #15 "Multiple PHP versions"

[2019-06-26 12:24] xavierle commented on #5
this readmap is already something niceto achieve !

[2019-06-26 12:43] andreapollastri opened #16 "Composer installation in go.sh"

[2019-06-26 12:43] #16 closed

[2019-06-26 13:45] #6 closed

[2019-06-26 13:55] andreapollastri opened #17 "Cron Job Manager"

[2019-06-28 12:56] #5 closed

[2019-07-01 01:08] zarulizham opened #18 "Initial Server preinstalled"
Hello. Is it possible to have server preinstalled in the Cipi Manager?

Currently my step is:
1. Create new EC2 Instance in AWS
2. `wget -O - https://cipi.sh/go.sh | bash`
3. Login into Manager
4. Add new Server
5. Copy and paste script shown into EC2 (created at step 1)

But somehow the Manager is reset after Step 5 is completed.

[2019-07-01 07:11] andreapollastri commented on #18
Hi! Cipi needs a standalone VPS or laravel hosting to manage one or more external VPSs.
Are you installing Servers into the same EC2 VPS? Let me know.

Bye
Andrea

[2019-07-02 04:33] zarulizham commented on #18
Yes, for now I'd like to manage server and install Cipi in a same EC2 VPS. I am grateful is there any ways to make it happen

[2019-07-02 04:48] andreapollastri commented on #18
I’m Sorry! What you require is not Cipi concept.
Cipi lets you to manage several VPSs so you have to use a standalone istance.

Maybe in the future I’ll release a Cipi “light” version that manages a single self server but not soon.

Cipi is different than cPanel, Plesk and others.

[2019-07-02 06:12] zarulizham commented on #18
Oh sorry for the misunderstanding. Thank you for the explanation and carry on the good work :)

[2019-07-02 06:12] #18 closed

[2019-07-03 13:05] andreapollastri opened #19 "SECURITY BUG"
Issue reported via mail by: Ionut Adrian Melenca.

"I found a security issue triggered when you try and access the Cipi /register url. Beeing in debug mode the security credentials from the .env file are exposed in plain text."

[2019-07-03 13:05] andreapollastri commented on #19
Solved in version >= 1.0.3

[2019-07-03 13:05] #19 closed

[2019-07-30 11:05] zietbukuel opened #20 "How to setup SSL for the main instance?"
Should I go ahead and install certbot myself and install the SSL? Or is there a more elegant way to do this? I'm talking about the server where CIPI is installed.
Maybe the installer should do this by default?
Thanks.

[2019-07-30 11:42] zietbukuel opened #21 "There was a problem with server connection. Try later!"
This happened after a fresh Ubuntu 18.04 LTS installation. I tried to add a new Application and I get this error every time. Help?

[2019-07-30 13:06] andreapollastri commented on #20
Hi! Currently you can add quickly, safetly and in a esy way a SSL certificate to all "client" servers but not to main Cipi server so, I'll take care about your needed and I'll deploy a new version with that feature but for the moment you have to do it manually, sorry!

[2019-07-30 13:07] andreapollastri commented on #21
Are you working on the same VPS or are you using Cipi to deploy other VPSs?

[2019-07-30 15:22] zietbukuel commented on #21
I'm trying to deploy another VPS.

[2019-07-30 16:22] #20 closed

[2019-07-30 16:23] andreapollastri commented on #21
Ok! Let me investigate on it. What VPS provider are you using to do it?

[2019-07-30 16:24] zietbukuel commented on #21
Hi, I use Digital Ocean.

[2019-07-31 10:03] zietbukuel opened #22 "Support for OpenVZ"
When using the OpenVZ platform I get the following error when building a new slave node. This doesn't happen on other providers that use KVM for example.

[code]

The installer script should detect OpenVZ (or at least respect if it already has swap enabled) and skip this step as this breaks the installation process.

http://people.redhat.com/~rjones/virt-what/

[2019-07-31 10:40] zietbukuel opened #23 "How to SSH into slave nodes as root?"
I lost root access to a node after installing it as a slave node. How can I recover root access? Or at least access to a privileged user so I can perform admin tasks such as software updates?

[2019-08-04 09:55] andreapollastri commented on #23
Hi! Sorry for the late reply!
You can connect to your VPS with a no root user than elevate your login to root with:
su -root command.

let me know!
Best
Andrea

[2019-08-04 09:56] andreapollastri commented on #22
I'm fixing it in the new version. Sorry but for the moment I've not got any solution.

[2019-08-04 09:57] andreapollastri commented on #21
Hi! Currently I've no problem with DO standard Ubuntu 18.04 TLS servers.

[2019-08-05 05:49] zietbukuel commented on #21
Weird, I've tried again with a different server and I got the same message.

[2019-08-05 05:51] zietbukuel commented on #23
Do I have to create this user previously or do I get one as part of the installation process? Because when I setup a server I only have a root user, so when I install the software I lose access to the server.

[2019-08-05 09:06] andreapollastri commented on #23
Hi,
right! when you start to install you start with a root user that your VPS provider gave to you but, for security reasons Cipi disables it and change SSH port from 22 to 1759 so if you want to access with root privilege you have to connect into your server with a simple (not roor) user and elevate your access to root (with the same old password of the starter root user).
Cipi doesn't change you

[2019-08-05 09:07] andreapollastri commented on #21
Ok... I'll re-check now and I'll response to you soon!

[2019-08-05 10:03] #22 closed

[2019-08-05 10:07] andreapollastri commented on #21
I checked it now in:
- Digital Ocean
- Vultr
- AWS
- Azure
- Enter.it

And I've no any problem!
I'm so sorry!

THE LAST INSTALLATION WITHOUT PROBLEM IS HERE:
Server: http://68.183.2.248/
Client: http://167.71.79.78/

I close this issue!

[2019-08-05 10:07] #21 closed

[2019-08-06 15:30] #23 closed

[2019-08-12 14:29] LuisBeOnline opened #24 "No panel access after the Installation"
hello,

I'm not able to find the panel after the instalation. When I go to the ip I only get the apache page :|

[2019-08-12 18:59] andreapollastri commented on #24
Hi Luis,
Con you give more details of your installation? VPS provider, OS, procedure, errors in installation bash run... let me know!

[2019-08-22 11:43] LuisBeOnline commented on #24
I'm using a t2.micro from AWS with Ubuntu 18 server
The instalation seems to run until the end with no errors, and only stops with access url and admin credentials.

[2019-08-24 23:49] Ostap34JS commented on #8
How about only nginx support?

why you prefer apache?

Thanks...

[2019-08-26 07:41] andreapollastri commented on #24
Hi! I tried with AWS t2.micro and I didn't have any issue... it's difficult to investigate your problem without any screenshot or detailed error.
Sorry

[2019-08-26 07:41] #24 closed

[2019-08-26 08:03] andreapollastri commented on #8
Hi osbre,
you are right!
nginx is powerful than apache but I think that apache for basic users that need to use .htaccess file and don't have advanced skills is better than nginx... anyway I will release a feature that lets you to decide if run any single application in:
- apache only
- apache + nginx
- nginx only

You have to wait about 1/2 months.

Best
Andrea

[2019-09-16 11:52] LewisSmallwood opened #25 "Security issue when SSH connection fails"
When the connection fails to a server, when the host is online but the SSH client is inaccessible, the Session's Server/Request Data is dumped in an error log.

This is a potential security issue as the error message includes the root database passwords, and additional data such as `USER_EMAIL`, `USER_PASSWORD` and any other environment variables like AWS tokens `AWS_SECRET_ACCESS_KEY`.

Steps to

[2019-09-16 13:33] LewisSmallwood commented on #21
One of my servers is also experiencing the same problem as I am using Key-based authentication for SSH.

If enabled, DigitalOcean will configure your server automatically using SSH keys, this is probably the reason you were experiencing issues @zietbukuel

Because the control panel is requiring passwords that are auto-generated for the servers during the setup process, this is causing issues. This

[2019-09-17 14:45] andreapollastri commented on #25
Hi Lewis,
you are right! I didn't manage SSH key remote access.
By default my Digital Ocean gives me user and password so I don't use SSH key but I'll integrate an exception into .env file.

Thank You for your advice... currently I have not so much to integrate new features into Cipi but I promise that I will make it in the next weeks... if you want to try to do it on this open source project you

[2019-09-19 17:13] LewisSmallwood commented on #25
Hi Andrea,

I will try to add support into Cipi for SSH Key authentication to allow DigitalOcean users to make use of the feature. This will mean that SSH could still be hosted on port 22 rather than obscuring it.

The feature would prevent the need for storing passwords in the database in plain-text (in a future release).

On systems that use SSH key based authentication, they have password authe

[2019-09-19 22:42] LewisSmallwood commented on #23
@zietbukuel I've just proposed a change which will allow passwordless SSH to any servers managed by the Control Panel from the control panel root account. By setting `ENABLE_SSH_ROOT_ACCESS=1` in the `/cili/.env` file before adding your server.

This will enable you to:
`ssh root@Your-Server-IP` without using a password whilst you are logged into your Control Panel server.

e.g.

SSH into Control

[2019-09-19 23:00] LewisSmallwood commented on #25
I've implemented SSH Key-Based authentication between the Control Panel and servers in PR #26

[2019-09-21 12:49] #25 closed

[2019-09-21 13:05] LewisSmallwood opened #27 "Style and theme repositories"
Themes could include the abilities to:

- Add a logo and/or sidebar colours to the control panel.
- Change the default website for the child servers to host their own template site when accessed by IP directly.

[2019-09-23 13:11] andreapollastri commented on #27
Hi, Thank You for SSH pull... You are great!
I'll release your pull in the next version... now is in current master branch.
I can make these your requests in the next days and include them in the next version.

if you want make some other pull to the project feel free to do it.
I'm happy to have collaborators and if this project grows.

Talk to you soon (I will notify you my next steps).

[2019-09-23 18:50] LewisSmallwood commented on #27
Thanks, Andrea!

I will have a look at adding themes and will open a pull request soon.

I'm thinking of making a change that adds an environment variable that points to a GitHub repo with theme files in. Something like `THEME_REPO_URL`.

That way the HTML from the install scripts can be separated and set externally.

By doing a `git pull` during the install process to pull in theme repositories,

[2019-09-25 07:11] ershagen commented on #8
Any news? 💃

[2019-09-25 13:49] LewisSmallwood commented on #8
Andrea, do you need any assistance?

I know apache + nginx can be configured in a way in which allows Nginx to proxy traffic to Apache.

For example, running apache to listen on port 81 with `<VirtualHost 127.0.0.1:81>` and then, in the nginx server block configs:
[code]

Would you like to discuss via email?

[2019-09-26 07:32] andreapollastri commented on #8
Yeah, thank you so much Lewis Smallwood.
Currently I'm working on a new version of Cipi with ngnix traffic proxy that will be released on about 15th october.
Sorry if I'm not so responsive with new features but I'm very busy with my current business job.
I promise that Cipi Version 2 will be very better than version 1. :)

Talk to you soon.
Thank You for all advices and support.

Andrea

[2019-10-10 18:19] joglomedia opened #30 "Create new user"
How to create new user?

 I can't find any create new user button/functionality under Users menu

[2019-10-21 00:08] jimmybisenius opened #31 "No panel URL after installation"
Hey, I'm having some trouble getting Cipi up and running properly with a Google Cloud Compute Engine f1-micro instance with Ubuntu 18.04 LTS installed - could you please help? I've attached a screenshot below for reference.
![screenshot-cipi](https://user-images.githubusercontent.com/6027238/67168770-5e47d580-f375-11e9-8a9e-163a58d9744a.png)

[2019-11-04 16:36] brandy commented on #8
@andreapollastri Any updates on this? I'm looking to switch to cipi but need nginx support.

Thanks!

[2019-11-25 14:13] neo3k commented on #8
Hello! Congratulations on your good work. I am looking forward to this new feature.

[2019-12-05 13:33] andreapollastri commented on #31
It was fixed... I will release the version in next minutes, sorry for the late support... my last months were very hard!

[2019-12-05 13:34] andreapollastri commented on #30
No way to make it for the moment! As other competitor you have 1 user for 1 website... sorry!

[2019-12-05 13:36] andreapollastri commented on #27
Hi Lewis, It was fixed...sorry for the late support... my last months were very hard! This is a good Idea! I'm working on the version 2 that will be release in the last part of december... if you want I can include your idea if you create it! ;)

[2019-12-05 13:36] #30 closed

[2019-12-05 13:36] #31 closed

[2019-12-08 18:32] #13 closed

[2019-12-08 18:32] #10 closed

[2019-12-08 18:32] #14 closed

[2019-12-08 18:32] #15 closed

[2019-12-08 18:35] #9 closed

[2019-12-08 22:56] #7 closed

[2019-12-08 22:57] #12 closed

[2019-12-10 15:27] #17 closed

[2019-12-10 21:52] andreapollastri opened #57 "Change IP of the VPS"
Function to change IP of the VPS

[2019-12-11 07:25] andreapollastri opened #58 "Move to Laravel 7"

[2019-12-11 07:25] andreapollastri opened #59 "Move to PHP 7.4"

[2019-12-11 07:26] andreapollastri opened #60 "Add /backup/backup.sh and /backup/dump.sh with conf and retention setting to cron"

[2019-12-11 07:38] andreapollastri opened #61 "Update fonteawesome and add APP TYPE ICON (Wp, Laravel, Git, Web) to App list/detail"

[2019-12-11 09:09] andreapollastri opened #62 "Laravel code Review"

[2019-12-11 09:10] andreapollastri opened #63 "Server Provider Icons (fa)"

[2019-12-11 09:11] andreapollastri opened #64 "Certbot Let's Encrypt on MULTIPLE DOMAINS"

[2019-12-14 15:05] #63 closed

[2019-12-14 15:12] andreapollastri commented on #27
I will close this issue because I think that Cipi is an Open Source tool for Developers first not for ISP so if any ISP wants to use Cipi, it can customize the template into code by itsself. I don't want to create a facility into my product to let people make money customizing logo and template and reselling services.

[2019-12-14 15:12] #27 closed

[2019-12-14 15:21] #61 closed

[2019-12-14 15:49] #57 closed

[2019-12-14 17:24] andreapollastri opened #68 "Load Metrics History and Mail Alert"
- CPU / RAM / HDD usage history with charts
- Overload mail alert

[2019-12-15 08:31] andreapollastri opened #69 "Cipi API integration"
Create API useful to manage CIPI

[2019-12-15 08:33] andreapollastri opened #70 "sqlite support check"
Some user notice that sqlite doesn't work properly... Check it!

[2020-04-06 08:15] rockethost-israel commented on #59
@andreapollastri Hi, any progress wilth this update and the project? you mentioned that soon will be with some great updates in verstion 2.0 but as i see its stuck for a few months...

[2020-04-06 08:21] andreapollastri commented on #59
Hello @rockethost-israel , hello everyone... in the last months I'm working very hard on my current main job and outside of my job I had some issue but I will take care about Cipi very soon, I think that this summer I will release a second version within these new features:
- Laravel 7 based
- PHP 7.4 / MySql 8 support
- ngnix integration
- backups / dumps
- other minor fix
I hope that you will en

[2020-04-07 15:58] Xoshbin opened #72 "The server requested authentication method unknown to the client"
Hi, After more than six times and killing each server I was testing I'm receiving the same error below, I have tried many fixes around the web to fix these kind of issues but it looks like it's impossible to fix. I'm using the "Auto Install script" on Vultr vps server. It's installing perfectly and I can see the login page when I go to the server's IP address. but when I put the username and passw

[2020-04-07 16:15] shark86 commented on #72
Hi Khoshbin Ali Ahmed,
thankyou for your issue report! I’m sorry to hear about this problem!
I’ll test Cipi on a Vultr VPS and I’ll return with a feedback and a resolution.

Talk to you soon,
best
Andrea

Da: Khoshbin Ali Ahmed <notifications@github.com>
Risposta: andreapollastri/cipi <reply@reply.github.com>
Data: martedì 7 aprile 2020 17:59
A: andreapollastri/cipi <cipi@noreply.github.com>
Cc: S

[2020-04-07 16:32] andreapollastri commented on #72
Hello Xoshbin, sorry I responded with my private acocunt (Shark86)... now I'm replying with the official Cipi Account! ...I just tried to install the last version of Cipi on a Vultr VPS (Ubuntu 18.04LTS - AMS region - 5 dollars VPS) and the result is OK since the first installation: http://45.76.33.47/ (you can login into it with admin@admin.com and 12345678) ... I will delete it in the next hour

[2020-04-07 17:23] andreapollastri commented on #72
You are welcome! I confirm that the problem is the Ubuntu version. I developed Cipi on a Ubuntu LTS version (18.04) the next Ubuntu LTS update will be Version 20! As you can read here: http://cipi.sh/docs/ the supported version is Ubuntu 18.04. Try it and let me know!

Have a nice day!
Andrea

__Andrea_Pollastri__
< software engineer / >
< / email > mail@andreapollastri.dev<mailto:mail@andreapolla

[2020-04-07 17:24] Xoshbin commented on #72
I just installed it on a new VPS (Ubuntu 18.04 64bit Frankfort 5 dollars) and passed the error. Thank you very much. Please don't forget to terminate your server. I had to focus more on the Ubuntu 18.04 in the documentation. Thank you again.

[2020-04-11 17:10] andreapollastri opened #73 "#CIPI v2 - Move to Laravel 7 & change template"

[2020-04-11 17:11] #70 closed

[2020-04-11 17:11] #69 closed

[2020-04-11 17:11] #64 closed

[2020-04-11 17:11] #68 closed

[2020-04-11 17:11] #62 closed

[2020-04-11 17:11] #60 closed

[2020-04-11 17:12] andreapollastri commented on #59
Done :) ...deployed in v2

[2020-04-11 17:12] #59 closed

[2020-04-11 17:12] andreapollastri commented on #58
Done ... deployed in v2! ;)

[2020-04-11 17:12] #58 closed

[2020-04-11 17:12] andreapollastri commented on #8
Done ... deployed in v2! ;)

[2020-04-29 16:09] Manishfoodtechs opened #74 "Request for Features"
Cipi is lightweight and very good to work with. However, I would like to see the following features in future releases:
1. The option of Nginx / lightspeed (open)
2. LXC / Docker containers.
3. Terminal (browser based)
4. backup to google drive / dropbox.
5.SSHFS with local system may be a unique feature

[2020-04-29 17:39] andreapollastri commented on #74
Hi @Manishfoodtechs ... thank you for the issue.
I currently am developing a new version of Cipi based on nginx.

So the response to your questions are:
1 - next version (that will be release on 1th May) will be nginx based
2 - tell me more about this request... I think that if you use Docker you can't use Cipi or if you use Cipi you don't have to use Docker but let me know what is your idea!
3 -

[2020-04-29 21:10] Manishfoodtechs commented on #74
So the response to your questions are:
**1 - next version (that will be release on 1th May) will be nginx based**
_**This is great news. Awaiting...**_

**2 - tell me more about this request... I think that if you use Docker you can't use Cipi or if you use Cipi you don't have to use Docker but let me know what is your idea!**

**_with a button click, you can create 'containers'. Ubuntu provides L

[2020-04-30 20:59] #73 closed

[2020-05-01 01:54] andreapollastri commented on #74
Ho @Manishfoodtechs ... I just released Cipi v.2 (in beta version).
Now is ngnix based. :)
About Docker... you can dockerize easily Cipi or any other LEMP application within https://github.com/andreapollastri/easydock (write me if you need help).
About SSHS, Terminal and Backup I'll work on them and they will be released in the future.
I close the issue. Thank You. :)

[2020-05-01 01:54] #74 closed

[2020-05-01 01:56] andreapollastri commented on #8
Hi devs! Cipi is now in version 2 (beta) with nginx support! :)

Let me know your feedback!

[2020-05-01 03:12] andreapollastri opened #75 "Application autoinstall script"
WP, Laravel, CI and other CMS/scripts autoinstall as in V.1

[2020-05-01 03:13] andreapollastri opened #76 "s3 Automated Backups"
s3 filesystem and db dump automated applications backup

[2020-05-01 03:17] andreapollastri opened #77 "Mail config for password recovery"
SMTP config in "settings" area useful to configure outbound mails

[2020-05-01 03:19] andreapollastri opened #78 "Cloudflare integration"
Integrate Cloudflare API into Cipi to:
- manage WAF
- manage DNS
- manage domains
- manage SSL
- manage caching
- ...

[2020-05-01 03:20] andreapollastri opened #79 "Digital Ocean integration"
Integrate DO api into Cipi for automated VPS deploy via Cipi (maybe also with other providers).

[2020-05-01 03:23] andreapollastri opened #80 "API"
Integrate Rest ful API to manage Servers outside dashboard

[2020-05-01 03:29] andreapollastri opened #81 "Stack server configs"
Create different servers type... e.g.:
- "fullstack" server
- php server
- db server
- nginx balancer
- storage server
- ....

[2020-05-01 03:32] andreapollastri opened #82 "Web terminal, Filemanager & db GUI"
Maybe, integrate these "dev tools" into Cipi web-app: terminal, Filemanager & db GUI.

[2020-05-01 03:34] andreapollastri opened #83 "Cipi remote Core update (for next versions)"
Build a release update for installed versions

[2020-05-01 03:35] andreapollastri opened #84 "Documentation & Website restyling"
- Cipi Docs rewriting
- Cipi Website remake

[2020-05-01 08:07] rockethost-israel commented on #79
HI @andreapollastri
you can use this librarie for this task:
https://github.com/GrahamCampbell/Laravel-DigitalOcean

[2020-05-01 08:17] aonsyed opened #85 "Older version of Nginx and MySql Server"
Ubuntu 18 branch isn't up to date, for example latest version of Nginx is 1.18, the version being installed with CIPI (1.14) hasn't even been maintained for more than a year now.
Solution of the issue is to add Nginx repo and install latest version from there
Secondly, Nginx comes with fastcgi cache it would be amazing if that's installed too.
Thirdly MySQL version is 5.7, although being maintaine

[2020-05-01 10:11] andreapollastri opened #86 "Import/Export client servers data for Cipi Migrations"
Create in setting a Cipi data import/export function

[2020-05-01 10:15] andreapollastri commented on #85
Hi @aonsyed ... Thank You for this issue!
You are right! Currently I'm working to move the project to last version of nginx but maybe I'll leave MySql 5.7 in this version because many current projects in the world support it and not 8!
I'm working to a Cipi Ubuntu 20 version with MySql 8... I'll notice to you when it will be ready!

[2020-05-01 10:16] andreapollastri opened #87 "Php 5.6 support for legacy projects?"
I have to decide about this idea because PHP 5.6 EOL and its security issues

[2020-05-01 10:19] andreapollastri commented on #79
Yeah... Thank You @rockethost-israel ... I'll evalute it! Thank You

[2020-05-01 10:21] aonsyed commented on #85
Thank you, yes that is understandable.

[2020-05-01 10:26] #8 closed

[2020-05-01 10:30] andreapollastri opened #88 "Server Status Monitor with notifications"
Every minutes server monitor with graph log in dashboard and notifications for:
- high resources alert
- low hdd free space
- no server ping
In settings user can set mail, slack and telegram notifications.

[2020-05-01 10:57] andreapollastri opened #89 "Split SSH user and mysql user reset password"

[2020-05-01 15:47] andreapollastri commented on #85
@aonsyed  I decided to create a Cipi v3 that maybe will be released in the next months with MySql 8 support, updated nginx and based on Ubuntu 20 LTS. I'll re-open this issue when v.3 is ready!
Thank You for the feedback

[2020-05-01 16:54] andreapollastri opened #90 "New Cipi welcome page and default server page"

[2020-05-01 16:57] andreapollastri opened #91 "Test on Ubuntu 20"
Useful to move to v.3 and to MySql 8 and updated nginx

[2020-05-01 17:35] rockethost-israel commented on #87
i think 5.6 and php 7.0 it's not really necessary these days! in my opnion clipi should support only Supported Versions
https://www.php.net/supported-versions.php

[2020-05-01 17:49] rockethost-israel opened #92 "Teams and Roles Support"
its good ideal to manage permissions per user & per server.
so as team admin we can allow other team members (devs and users) to have control over server functional.

[2020-05-01 17:54] andreapollastri commented on #92
Good idea... thankyou @rockethost-israel

I'll working on it for v.3

[2020-05-01 17:54] rockethost-israel commented on #88
also, clipi must have "Service status" that allow to see and control each service status like:
php, mysql, nginx and etc...
admin can start, stop and restart any service.

[2020-05-01 17:55] #87 closed

[2020-05-01 18:05] rockethost-israel commented on #76
i am using Backblaze B2 Cloud Storage years and its much cheaper to compares to Amazon S3.
maybe you can use this library as a start point:
https://github.com/hpolthof/laravel-backblaze

[2020-05-01 18:10] rockethost-israel commented on #76
also i think it will be a good idea to restore db from backup in one click.

[2020-05-01 18:18] rockethost-israel opened #93 "Staging feature"
one of the must have feature is to allow user/dev to create in one click "Staging" for his project (site).
basically we need to to create new subdomain clone all the files and db.
then, when user/dev finish working on the "Staging", in one click he can move "Staging" to "Production".

[2020-05-02 00:19] #91 closed

[2020-05-02 00:20] #89 closed

[2020-05-02 00:20] #90 closed

[2020-05-02 00:24] andreapollastri commented on #85
Hi @aonsyed  Great news for you!
Version 2 is now in stable version and it supports Ubuntu 18.04 both with 20.04 so...
if you install Cipi on a 18.04 server you will get:
- nginx 1.14
- mysql 5.7
- node 12
but if you install it on a 20.04 server you will get:
- nginx 1.17
- mysql 8
- node 14
PHP-FPM 7.2, 7.3, 7.4 and other stuffs are common for both.

Bye :)

[2020-05-02 02:29] aonsyed commented on #85
Thank you for the update

[2020-05-02 02:46] #85 closed

[2020-05-02 02:49] andreapollastri commented on #93
You can use "alias" or Git to do it! I think that it something "old" working in that way... today every dev MUST use Git!

[2020-05-02 02:49] #93 closed

[2020-05-02 02:50] andreapollastri opened #94 "User permissions fix in its home directory"
Currently user ha a full access to its directory... Needs to limit it!

[2020-05-02 03:20] andreapollastri commented on #94
Solved in version 2.0.6

[2020-05-02 03:20] #94 closed

[2020-05-02 03:28] andreapollastri opened #95 "Manage nginx custom configurations"
- Add nginx custom configurations manager in Cipi
- Add nginx start / stop in Cipi
- (take care about permissions of custom.conf folder)

[2020-05-02 03:50] andreapollastri commented on #95
Solved in version 2.0.7

[2020-05-02 03:50] #95 closed

[2020-05-02 04:55] andreapollastri commented on #92
I close the issue and I will re-open it when v3 will be in develop

[2020-05-02 04:55] #92 closed

[2020-05-02 04:55] andreapollastri commented on #88
I close the issue and I will re-open it when v3 will be in develop

[2020-05-02 04:55] #88 closed

[2020-05-02 04:56] andreapollastri commented on #82
I close the issue and I will re-open it when v3 will be in develop

[2020-05-02 04:56] #82 closed

[2020-05-02 04:56] andreapollastri commented on #79
I close the issue and I will re-open it when v3 will be in develop

[2020-05-02 04:56] #79 closed

[2020-05-02 04:56] andreapollastri commented on #80
I close the issue and I will re-open it when v3 will be in develop

[2020-05-02 04:56] #80 closed

[2020-05-02 04:57] andreapollastri commented on #81
I close the issue and I will re-open it when v3 will be in develop

[2020-05-02 04:57] #81 closed

[2020-05-02 04:57] andreapollastri commented on #78
I close the issue and I will re-open it when v3 will be in develop

[2020-05-02 04:57] #78 closed

[2020-05-02 05:37] rockethost-israel commented on #76
@andreapollastri maybe to use same library for multi location like this?
https://github.com/backup-manager/backup-manager

[2020-05-02 06:54] rockethost-israel opened #96 "MariaDB Support"
HI @andreapollastri its a good idea to add MariaDB and allow to switch between mysql and MariaDB. by far MariaDB give better performance than mysql.

[2020-05-02 06:57] rockethost-israel commented on #75
when user install wordpress ask if he need WP-CLI
simple add WP-CLI support:
https://make.wordpress.org/cli/handbook/installing/

[2020-05-02 07:49] rockethost-israel opened #97 "Tools to improve security"
we can use tools like:

Antivirus
https://www.clamav.net/

for malware:
https://www.rfxn.com/projects/linux-malware-detect/

or both:
https://revisium.com/aibo/

ModSecurity - firewall
https://modsecurity.org/

Nginx Block Bad Bots
https://github.com/mitchellkrogza/nginx-ultimate-bad-bot-blocker

[2020-05-02 10:11] rockethost-israel opened #98 "Auto Restart Down Services"
to reduce the downtime we need to have script that will check each X min (using system cron) if some service is down, our script will try to auto restart it.

[code]

[2020-05-02 10:34] rockethost-israel opened #99 "App Optimisation"
add support for cache layers to improve the app speed.

Varnish HTTP Cache
https://varnish-cache.org/

memcached
https://memcached.org/

Redis
https://redis.io/

FastCGI cache module in NGINX

[2020-05-02 16:58] andreapollastri commented on #99
OK @rockethost-israel ... Now I'm using OP cache but I will add application caching system as Redis and Memcached.

I close this issue and re-open it in v.3 .

Thankyou

[2020-05-02 16:58] #99 closed

[2020-05-02 17:00] andreapollastri commented on #98
Thankyou for the issue.
About it, I'm sorry but maybe it can generates problems into servers... I prefer manage it other way. I will write it into documentation.

[2020-05-02 17:00] #98 closed

[2020-05-02 17:01] andreapollastri commented on #97
Thankyou, I will test them and maybe I will put some of them in next version. Thank You for the advice!

[2020-05-02 17:01] #97 closed

[2020-05-02 17:02] andreapollastri commented on #96
Yeah... this is an important features. I will released it soon! Thank You!

[2020-05-02 19:43] thugic opened #100 "Some questions about the project"
Hey there!
This is a promising project, keep up with it!

Here's my two cents:

## Is there any specific reason you are not using Route-Model-Binding?
I'm referring to `server.servercode` and `applications.appcode`. Why not keeping the ID? This would make things a lot easier and code much cleaner.

## Sticking to conventions
In `RemoteController` responses should really be something more semantic

[2020-05-02 19:54] thugic commented on #100
Ok, after some sourcediving I got some things a bit clearer.

 - about `servercode` and `appcode` we should move them to `uuid` and set those for route-model-binding. Would make things cleaner and more maintainable.

- about `auth` middleware on some routes: ok got it 😅(but this needs to be addressed nonetheless)

[2020-05-02 20:03] andreapollastri commented on #100
Hi Zac,
thank you for the issue... so... I try to reply to your questions.

- About routes model bining: I wanted identify every server and application with an unique ID (not autoincremental) as Digital Ocean and AWS done with VPS because of:

- Security in routes: if they are without auth middleware is because I need to expose that to child VPS (managed by Cipi) and I need to do it without any se

[2020-05-02 20:13] thugic commented on #100
Ok, maybe this should be moved to UUID's and clean stuff a bit by making them th default route model key.

As in my previous comment I got this ;)

Great!

;)

No worries. Since your target audience are developers, well, we need robust code to be running on our servers, so better be prepared! :)

I made a pull request BTW.

Check it out.

[2020-05-02 20:50] andreapollastri commented on #100
Great!
I accepted your PR (Thank You) and I just renamed "complete" in "status".
They will be included in the next release!

Thank You Zak!

[2020-05-02 20:50] #100 closed

[2020-05-02 23:23] #77 closed

[2020-05-02 23:23] #84 closed

[2020-05-03 08:52] aonsyed opened #103 "Support for Openlitespeed"
OpenLiteSpeed is the open-source version of Litespeed web server and it can perform much better than Nginx out of the for several application like Wordpress etc.

It can be added as an alternate web-server

[2020-05-03 16:04] andreapollastri commented on #103
Hello @aonsyed . I can evalute it both with Maria Db support for next v.3. I close the isse and move it to v.3 ideas into project area.

Thank You

[2020-05-03 16:04] #103 closed

[2020-05-03 16:05] andreapollastri commented on #96
Hello I decided to move it in v.3... I close issue and re-open it for v.3. Thank You

[2020-05-03 16:05] #96 closed

[2020-05-03 16:06] #86 closed

[2020-05-03 16:06] #83 closed

[2020-05-03 16:07] andreapollastri opened #104 "Server access generate"
Create a "server access" button that generate a PDF with server SSH & DB root data (with a refresh of credentials).

[2020-05-03 16:45] andreapollastri opened #105 "Fix nginx/PHP-FPM pool permissions"
Check permissions for multiusers

[2020-05-03 17:48] andreapollastri opened #106 "Make "cipi" CLI in child server"
Services reset for:
- php
- mysql
- nginx

+ help

+ other in future

[2020-05-03 19:10] #75 closed

[2020-05-03 21:32] #104 closed

[2020-05-03 21:53] #105 closed

[2020-05-03 22:58] #106 closed

[2020-05-03 23:32] #76 closed

[2020-05-04 06:42] rockethost-israel opened #107 "Improve cipi Login Security"
1. Two-factor Authentication
2. Verification code that will send by email or sms.
* after admin will first login to cipi and will enter his email/phone
it can work by creating simple onboarding on first login. at the "onboarding" admin can enter his email/phone for Verification code. also at the "onboarding" step we can ask admin more info and other "customizations" that he want.

[2020-05-04 06:52] rockethost-israel opened #108 "add more server/site settings"
1. allow to set / change Time Zone (Server time)
2. install/remove php extensions for each php version
3. edit PHP settings like:
php_admin_value[display_errors] = "off"
php_admin_value[log_errors] = "On"
php_admin_value[mail.add_x_header] = "On"
php_admin_value[max_execution_time] = "120"
php_admin_value[max_input_vars] = "10000"
php_admin_value[memory_limit] = "512M"
php_admin_value[opcache.blac

[2020-05-04 22:30] andreapollastri commented on #107
Hi... Thankyou for the issue... 2factorauth requires SMTP and other data that are not available by all. I would like to keep Cipi simple and easy-to-use but... Cipi basically is a Laravel project so if you need it you can add it using one of the several free Laravel 2factorAuth packages that you can find in Google. Sorry

Best
Andrea

[2020-05-04 22:30] #107 closed

[2020-05-04 22:31] andreapollastri commented on #108
Thank You... this will be implemented... I move the issue in v3.

[2020-05-04 22:31] #108 closed

[2020-05-06 11:36] andreapollastri opened #109 "Redis integration"

[2020-05-06 11:37] andreapollastri opened #110 "Documentation"
- Write docs in cipi.sh/docs

[2020-05-06 11:37] andreapollastri opened #111 "API Rest"
- Panel API

[2020-05-06 11:38] andreapollastri opened #112 "AWS s3 backup"
- Integrate application s3 backup

[2020-05-06 11:39] andreapollastri opened #113 "Maria DB optional"
- Option for Mariadb Installation

[2020-05-06 16:55] andreapollastri opened #114 "Import/Export Cipi Data"

[2020-05-06 19:15] #109 closed

[2020-05-07 13:21] aonsyed commented on #112
Many other companies allow or support S3 based backups, please keep an option to add others too

[2020-05-07 18:35] andreapollastri commented on #112
Hello @aonsyed . Yes... I create a backup based on s3 protocol so you can choose AWS or Digital Ocean Space or any other s3 based object storage. ;)

[2020-05-09 08:15] #114 closed

[2020-05-10 23:11] andreapollastri opened #115 "PHP-FPM & nginx optimization"
Improve PHP/nginx Performance under stress test

[2020-05-11 01:42] #115 closed

[2020-05-11 08:05] franckadil opened #116 "Can't access pannel after a fresh installation"
After a fresh Install I can't access the pannel.

In the terminal I see the following exception `Script @php artisan package:discover --ansi handling the post-autoload-dump event returned with error code 1`

[code]

[2020-05-11 08:34] franckadil commented on #116
Update: I had to manually restart the VPS (using Ubuntu 20.04 LTS)
But now I am having trouble accessing through ssh.

[2020-05-11 08:45] andreapollastri commented on #116
Hello @franckadil,
I'm sorry to hear this issue from you but the error snippet that you posted here confirms that you aren't using original Cipi installation script but a custom so I don't know what that script does and I think that you didn't create "junglewp" database user.
Cipi creates and works with root / cipi user not with that custom jungle wp user that I think you created with an original

[2020-05-11 08:55] franckadil commented on #116
@andreapollastri Thank you for your reply :) I edited the installation script and changed the user.
No pressure, I am just testing, the app I hope I can bring valuable feedback and contribution in the future. (I noticed you're looking for help with the documentation as an example).

To get back to the error reported here, please note that the panel worked only after restarting the VM, I tried with

[2020-05-11 09:02] andreapollastri commented on #116
Hi @franckadil! Thankyoou for the feedback! No pressure (sorry if my bad english looks rude) :-P
I think that the problem is that you didn't create a "root" user customizing the script so every thing was broken but I don't know what happened so I prefer suggest to you to use original script.
About help on project everything is welcome... I'm pubblishing the Documentation and it will be ready soon.

[2020-05-11 09:17] franckadil commented on #116
@andreapollastri Don't worry about it, and let me congratulate you for your awesome work! I've seen the commits since few days and I have to admit that's triggered my attention. I'll be more than happy to contribute, and put in the effort required to help. I'll keep testing for now.

[2020-05-11 11:02] andreapollastri commented on #116
Great! I hope to hear from you soon! Best! Andrea

[2020-05-11 11:02] #116 closed

[2020-05-11 23:11] andreapollastri opened #117 "http/2 support"

[2020-05-13 00:15] #117 closed

[2020-05-13 08:38] shad0wfir3 opened #118 "Installation Error"
Hey, @andreapollastri I have just installed cipi on a digital ocean droplet, wanting to use test it out to see if it can become our future deployment software. Curious though, the setup does not set up a default interface and site. I have checked the sites-enabled folder and it seems that default Nginx config is in place, but binds to an empty folder

Secondly, during the installation process, I g

[2020-05-13 10:27] andreapollastri commented on #118
Hello @shad0wfir3, I just tryed to install Cipi on different Digital Ocean VPS and everything works fine! As you can see:
- MAIN SERVER: http://157.245.177.42/
- CHILD SERVER: http://167.99.173.128/
Did you use Digital Ocean installation via password or key? I used password mode.
If you want we can have a Skype or Google Hangsout call with screen share useful to show the right way to install Cipi!

[2020-05-13 20:43] #110 closed

[2020-05-13 20:44] #113 closed

[2020-05-13 21:23] andreapollastri commented on #118
@shad0wfir3 .. I'll switch off VPSs soon... let me know if do you want / need a call via Skype togheter... in the meanwhile I just pubblished the first version of Cipi Documentation: https://cipi.sh/docs/.

I hope to hear from you soon.
Best

Andrea

[2020-05-13 21:41] shad0wfir3 commented on #118
Hey, @andreapollastri thank you for the reply, so I noticed the issue was with the Ubuntu 20 version. I dumped the machine, spun up a new v18 LTS one and it installed perfectly. I am playing around with it, loving the idea, and would like to start contributing. Especially considering that i would need connections to be made available to for integrations into 3rd party providers and also git connec

[2020-05-13 21:46] shad0wfir3 commented on #118
Docs looking good as well, very well done on this project. I can see that there is git functionality. Would be good to work that into the web interface.

[2020-05-13 21:49] andreapollastri commented on #118
Hi @shad0wfir3! I'm glad to hear it from you!
About 3rd parts provider integration it's a good idea! I'll work on it!
About Git connect I quickly developed a sort of Github deploy script... you can find more info into the Docs: https://cipi.sh/docs/.
(maybe I will integrate Git, backups, crons and Supervisor into Cipi Web Panel) in next releases.
Anyway.. If you want collaborate in this or other i

[2020-05-13 21:52] shad0wfir3 commented on #118
I would definitely love to help out and contribute, I just have a few projects to get out of the way, and then ill start contributing where i can. I look forward to seeing more of cipi! Again, well done, and keep up the good work.

[2020-05-13 22:16] andreapollastri commented on #118
Perfect @shad0wfir3! Thank You for the compliments about Cipi! I close this ticket! Best. Andrea

[2020-05-13 22:16] #118 closed

[2020-05-14 08:05] Xoshbin opened #119 "SSL Certificate and Cloudflare"
Hi, In the documentation you mentioned "and that there is not any proxy in the middle (such as Cloudflare proxy for e.g.)." what if there is proxy especially Cloudflare. how it can be solved please. if there's a solution it's better to mention it in the documentation. I'm checking this package with every update because I really like it and I want to transfer to CIPI. but my concern is I want to ch

[2020-05-14 08:22] andreapollastri commented on #119
HI @Xoshbin. Thank You for your response!
About SSL, no worry to use CloudFlare (or any other WAF/CDN service)... Let's Encrypt work on DNS validation so if you need to obtain a certificate via Let's Encrypt on your domain you have to disable for a moment Cloudflare proxy on that DNS but after Let's Encrypt Validation you can reactive it! Or you can alse use directly Cloudflare Certificate. I upda

[2020-05-14 08:31] Xoshbin commented on #119
Thank you @andreapollastri for the hard work and for the great package. I will test it out and I expect for sure to see more features in this great package. Thank you again.

[2020-05-14 08:42] andreapollastri commented on #119
You are welcome @Xoshbin! I hope that you enjoy Cipi! Any problem/issue write me!

[2020-05-14 09:13] Xoshbin commented on #119
Sorry @andreapollastri you mentioned that I can update CIPI with "Cipi migration" how is that please?

[2020-05-14 09:18] andreapollastri commented on #119
Hi @Xoshbin!
It's simple... for e.g.:
- you install current Cipi Version (2.4.7) on a VPS and you use it to deploy 8 child VPSs.
- in the future you would install a new Cipi Version (e.g. v3.2) but you have to mantein your 8 VPS control and bring them on your new panel so...
- if you go in "settings" area... you can export all VPSs data into a "secret" key that you will import on the new Cipi Pane

[2020-05-14 09:22] Xoshbin commented on #119
Great, Thank you again. And don't worry my English is not better than yours :)

[2020-05-14 09:23] #119 closed

[2020-05-18 14:33] jessuppi opened #120 "Support for SlickStack (and other FOSS stacks?)"
Hey Andrea, I've seen Cipi mentioned a few times recently and very cool, mate. I've been surprised how long it has taken for a FOSS version of the _million-and-one_ deploy panels to emerge... esp. since some of the commercial ones have poor LEMP configuration (or bundle Apache).

I'm wondering if you've considered supporting existing WordPress stacks like SlickStack (which I'm currently maintainin

[2020-05-20 08:01] andreapollastri commented on #120
Hi @jessuppi!  Thank You for your response! ;) I'm glad to hear that from you!
I don't know SlickStack but I'll evalute it soon and I will update you!

Best
Andrea

[2020-05-23 12:37] #120 closed

[2020-05-31 16:48] NanoG6 opened #121 "2 servers minimum?"
Hi, so I need two servers minimum to get this panel full functioning? One for control panel, and one for the web server, correct?
Somewhere in the documents, I read that the control panel can't be installed on NAT VPS, my current setup is I have many cheap low-spec NAT VPS that I want to utilize as a control panel, can I use that NAT VPS behind nginx reverse proxy?
Thank you

[2020-05-31 17:17] andreapollastri commented on #121
Hi @NanoG6 ... Right, the simplest way to install Cipi is via autoinstallation script but it requires 2 servers... anyway Cipi is just a simple Laravel project so if you have a Lamp/Lemp hosting useful to install it, you can install Cipi via composer (without autoinstall shell script) and use it to deploy other VPS without using a dedicated server for Cipi. If you need help to do it contact me.

A

[2020-06-01 19:36] andreapollastri commented on #121
Hi @NanoG6 ... can I close the issue? Do you need help with Cipi?

[2020-06-02 14:49] andreapollastri commented on #121
HI @NanoG6. I confirm that NAT VPS are not supported by Cipi. I close this issue. If you need help open another issue or write me on Cipi Slack channel / hello@cipi.sh. Best

[2020-06-02 14:49] #121 closed

[2020-06-03 19:22] kavinsky opened #122 "Use SSH Pub Key as authentication method"
Feature Request:
Allow the use of SSH Public Key as authentication method on the provisioned servers.

Thank you.

[2020-06-03 22:39] andreapollastri commented on #122
Hi @kavinsky ... you are right! I've to work to change it... I'll integrate it in next version 3 (that will be released in the first part of 2021). Thank You for the issue! I'll consider it soon!

[2020-06-05 12:22] #122 closed

[2020-06-10 05:52] juzio333 opened #124 "how to uninstall"
Sorry for my English.
When I install cipi I cant connect to root. And i cant connect to my IP. (ts3server ip before: 77.55.215.3)
and now i start server and i got nothing PLS HELP. I need to not loose my data

[2020-06-13 07:51] #124 closed

[2020-06-21 21:03] JFOC opened #125 "Wildcard, Email Server, and Wordpress"
Hi,
Does it support:
1. Wildcard Letsencrypt
2. Letsencrypt proxy for a domain name is not using CF nameserver
3. Wordpress Multisite auto-setup
4. Email server + management

[2020-06-22 21:10] andreapollastri commented on #125
Hi @JFOC! Currently I'm working on V.3 that will includes Wildcards for SSLs and Cloudflare integration. It will be ready in the first part of 2021.
WP autoinstallation script and other one-click apps installations will be ready on next September.
E-mail Server is not in roadmap but I will decide if include it in the future.

[2020-06-25 06:58] #125 closed

[2020-06-26 08:21] smkoBa opened #126 "Add mongoDb"
HI  @andreapollastri its a good idea to add MongoDb. It's very good for nosql dB.
use [laravel-mongodb](https://github.com/jenssegers/laravel-mongodb) for laravel support
Thanks for good your project.

[2020-06-26 17:08] andreapollastri commented on #126
Hello @smkoBa ! Thank You for your feedback!
I will evaluate Mongo DB support in next Cipi version (v3).

[2020-06-28 07:41] #126 closed

[2020-06-28 08:16] JFOC opened #127 "Auto fix White Screen of Death"
hi,
It would be nice to have auto fixing the White Screen of Death for Wordpress sites.

[2020-06-28 08:18] JFOC commented on #109
hi,
is this redis meaning adding support to have Redis cache configuration for a site and server ?

[2020-06-28 08:20] JFOC opened #128 "Monit"
hi,
would be nice to have Monit and available for each server

[2020-06-28 08:35] andreapollastri commented on #127
Hi! Tell me more about this problem! I would fix it but I can't replicate it! WP works fine by my Side on Cipi and I have no 500 errors... Thank You!

[2020-06-28 08:38] andreapollastri commented on #128
Hello JFOC!
A Server Monitor is in roadmap for version 3 (that will be released on first part of 2021).
It will log a 7days retention of CPU/HDD/RAM activities and ping time and it will send notifications via Mail, Slack and Telegram.

[2020-06-28 08:44] andreapollastri commented on #109
Hi JFOC!
Yes.. Redis is Ready to be configured with you WP o Laravel or any other PHP app for sessions or caching.

The configuration is:
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

[2020-07-01 06:52] MilenFrom commented on #127
Show us the error logs?
White screen of death may not be related to the panel itself?

[2020-07-01 06:53] MilenFrom commented on #111
This will be great addition!

[2020-07-01 07:24] JFOC commented on #127
we do not have any error currently, but the feature is nice to have.
this is a feature I have in my current panel and my control panel is designed for WP
<img width="844" alt="Screen Shot 2020-07-01 at 14 23 00" src="https://user-images.githubusercontent.com/240271/86215167-77608180-bba6-11ea-8b20-29973f24aa45.png">

[2020-07-01 10:07] MilenFrom commented on #127
Hmm, basically when a WP install returns Fatal error to notify you?
Basically this goes through all plugins and disables each one of them until the parse error is gone.

This might go wild, meaning turning off your plugins might output shortcodes content in your page which may have negative impact.

So what can be done actually is to place maintenance page until you fix the issue, because php pars

[2020-07-01 13:00] JFOC commented on #127
it goes to enhancement instead of help-wanted label

[2020-07-01 18:41] andreapollastri commented on #111
It will be ready on September

[2020-07-01 18:44] andreapollastri commented on #127
Ok perfect! I will evaluate it for the next release!

[2020-07-01 18:44] #127 closed

[2020-07-01 18:44] #128 closed

[2020-07-02 07:47] cybermonkj opened #129 "No uninstall script"
Cipi killed my litespeed server

[2020-07-02 07:52] andreapollastri commented on #129
Hi @cybermonkj.
As I wrote in documentation, Cipi is for "fresh Installation" of Ubuntu 18.04 or 20.04 LTS!
So you need to install it only on clean VPS (not preinstalled and preconfigured).
I'm sorry about your issue but Cipi is not compatible with a Litespeed configured system.
As wrote in Cipi website and docs, it requires fresh Ubuntu installation.

[2020-07-02 07:58] andreapollastri commented on #129
PS @cybermonkj if you need help to uninstall every single Cipi Components I can help you if you need

[2020-07-02 13:01] #129 closed

[2020-07-07 03:17] kazirazon1424 opened #130 "Cipi Sh Repo"

[2020-07-07 12:06] andreapollastri commented on #130
Hi @kazirazon1424, do you mean this https://github.com/andreapollastri/cipi.sh?

[2020-07-09 16:45] #130 closed

[2020-07-11 10:50] Aniruddh-J opened #131 "Can't connect to MySQL database"
Hello,

First off, thanks for this wonderful software. :)

=====

I recently installed Cipi on one server and created an application. Once I tried connecting to MySQL using credentials supplied after creating of application, I always  get ERROR 1045 (28000): Access denied for user 'user'@'localhost' (using password: YES)

I also tried the MySQL root password but it doesn't work either. I get the s

[2020-07-11 11:11] Aniruddh-J commented on #131
Well, I reset the root password to the one supplied by post-installation prompt, deleted the application and created a new one. Now everything seems to be working fine. :)

[2020-07-11 11:11] #131 closed

[2020-08-12 21:46] starnetwork opened #136 "Add Proxmox VE Support"
Hi,
it's possible to add Proxmox VE support to Cipi?
create Vm on proxmox will allow to install the Cipi agent and manage the app level via Cipi

[2020-08-16 12:21] bilalinamdar opened #137 "Can't see Application other than PHP"
Dear Team,

This was my first time deploying CIPI and i found no Application (only PHP).
I am confused on exactly why the applications are missing such as wordpress,magento.
Am i doing something wrong ? I tried to deploy on my personal cloud.
![image](https://user-images.githubusercontent.com/7912006/90334129-ed029e80-dfe8-11ea-80ba-9287cd1ba097.png)

Also while installing "server" ubuntu 20.04 i

[2020-09-03 07:38] safalshrestha opened #138 "Nginx reverse proxy apache"
Hi, I have been using moss.sh for a while now but its shutting down in couple of months. I discovered this after searching for a replacement. I rely on .htaccess file alot and prefer nginx as a reverse proxy to apache setup. I was just wondering of there is a way to setup this cipi.

I am guessing if I install Apache manually and configure nginx, it might work but would it be possible to support t

[2020-09-05 13:24] HeatherFeuer commented on #138
I have the same question/issue. I am currently running multiple servers on Moss and need to find a new panel. I need to have .htaccess capability with WordPress so I would need nginx as a reverse proxy to apache. Is it possible to have this configuration?

[2020-09-07 07:13] andreapollastri commented on #138
Hello! Currently Cipi doesn't support Apache Reverse Proxy but you can configure in easy way nginx into Cipi to make the same directive of .htaccess... if you need help contact me.

I'm working on v.3 and maybe Apache/nginx proxy will be included because of the request as yours are many!

[2020-09-07 07:15] andreapollastri commented on #137
Hi! Sorry for the late reply!
I'll check for Ubuntu 20 installation, Thank You for the issue!
About Application what's the issue? You can installa your own PHP applications based on a specific PHP version as you need. In version 3 (not now) you could choose a pre-installed script such as Laravel, Wordpress, ...

[2020-09-07 07:16] andreapollastri commented on #136
I'll check how to integrate Cipi with promox and I'll integrate the support if it's possible

[2020-09-07 07:16] #136 closed

[2020-09-09 21:53] zerofill opened #140 "More than 1 database for an application"
Is there a specific method used for creating more than 1 database for an application/domain?

[2020-09-09 23:20] zerofill opened #141 "View files outside of user directory sftp"
Is it already known that you can back out of your own directory and view virtually any file on the server in most cases, when logged in with a user account of an application via sftp? Example being filezilla.

[2020-09-10 12:54] safalshrestha commented on #138
@andreapollastri I am trying to do this by adding a proxy pass for PHP. It works but its a hassle to go through all the projects. I tried the project and liked it. Yeah a native nginx reverse proxy apache would be great in my opinion. Not only in terms of performance but would help people migrating from cpanel and continue to have .htaccess directives.

Thanks again for the great work.

[2020-09-18 13:28] tax-pages opened #143 "Not able to view my application page"
i used cipi to deploy my application on AWS lightsail, but after deployment i am keep on getting the cipi server up page not my application page. following is my ip address http://52.221.214.16/, i deployed laravel app, and twice checked my nginx.conf for root folder.

[2020-09-19 07:43] tax-pages commented on #143
i tried re deploying using cipi on a new lightsail instance having ip 13.212.97.103, just to check i hav'nt missed anything, but no success, i have installed application checked using terminal that my application exists and in its root folder i also have index.php, but still on hitting my ip i still get "Server Up!" not the what written in index.php
can someone guide what i am missing?

[2020-09-20 13:17] #137 closed

[2020-09-20 13:18] andreapollastri commented on #140
Hi! It's simple... you can create a new "empty application" and it will generate a new DB (the connection to mysql is shared from applications... so you can use a second DB in your app). Let me know if you need more help!

[2020-09-20 13:19] andreapollastri commented on #141
Hi! I know that you can see the directory name but you can't enter / view inside it or modify it... can you confirm it? Or you can do it?

[2020-09-20 13:20] andreapollastri commented on #143
Hi! Currently Cipi has some issue with AWS litesail ... use EC2... I'm really sorry... in v3 I'll fix it!

[2020-09-21 06:12] tax-pages commented on #143
thanks for the reply, can ec2 support laravel with vue? i was trying to deploy my laravel-vue application with ec2 but its only deploying php not the npm.

[2020-09-21 12:48] #143 closed

[2020-09-22 11:12] ninety3 opened #144 "DNS issues"
how to add subdomain on your server? i have a laravel application that makes unlimited domains like company1.domain.com, company2.domain.com etc, how can i manage this without creating Aliases?

[2020-10-04 18:35] lore77 opened #145 "Uninstall Cipi from vps vultr"
Hello Andrea, by mistake I installed cipi in a vultr vps with another cpanel administrator, and now I cannot access the sites error service unavailable, can you tell me how the tool can be uninstalled? thanks

[2020-10-06 04:41] JFOC commented on #111
so it is ready ? seems the last commit is several months ago

[2020-10-06 14:05] andreapollastri commented on #138
Hi @safalshrestha sorry for the late reply.
I'll deploy it in v.3. Thank you for the support

[2020-10-06 14:05] #138 closed

[2020-10-06 14:06] #140 closed

[2020-10-06 14:06] #141 closed

[2020-10-06 14:08] andreapollastri commented on #144
Hi.. .sorry for late reply.
all you have to do is create one or more applications in Cipi (that are such as virtualhostes) then you have to associate to every applications one or more domains.... if you use more than one domain/subdomain you have to use application aliases.
Let me know if it's clear! Best
Andrea

[2020-10-06 14:10] andreapollastri commented on #145
Hi, there is not any uninstall script... you have to manually unistall everything.
If you need support about what Cipi installs on server write me but Cipi has to installed on a clean Linux installation... not on a cPanel server. sorry

Best
Andrea

[2020-10-10 02:00] ribafs opened #146 "Fail on install"
A fault appears (in red) during the installation, but everything is working fine. I wonder what failure this was.

I isntall in Ubuntu 20.04 on vm from Digital Ocean

[2020-10-10 10:07] tax-pages opened #147 "Read / Write issue filezilla and other deployment tools"
i am unable to upload a single file using filezilla, whenever i try to upload a single php file it said permission denied i had to upload zip using filezilla and then have to connect to the server and use root credentials to unzip that, if i use application user credentials then i canont even unzip the file...

[2020-10-12 07:09] ninety3 commented on #147
i solved this issues by changing user and group from root to that specific user.
i find something suspecious, when i create an app, user is created at that time, web and public folder permission is assigned to that user but all other folders that are in web has "root" as their owner, so to connect to that application either i have to change my web folder group or all other folders user and group.

[2020-11-02 18:10] jimisens opened #148 "Installation interrupted on ubuntu server 20.04"
I'm trying to install a server running in AWS
Y already try 3 times, reinstalling a new fresh install each time.
But in the server the installation is interrupted with the following error.

E: The repository 'http://ppa.launchpad.net/certbot/certbot/ubuntu focal Release' does not have a Release file.
N: Updating from such a repository can't be done securely, and is therefore disabled by default.
N

[2020-11-03 21:05] jimisens opened #149 "Cannot see all dashboard options"
I install Cipi in my own server for manage another server instance.
I install it with the composer command "composer create-project andreapollastri/cipi <your-folder>" , because my server already have many configurations.
Actually i figure out to install for manage the second server, but i notice that i doesn't have all the Dashboard options listed in the docs.
"Settings/ Documentation" are missin

[2020-11-06 15:10] magix01 opened #150 "Few questions?"
Hi guys,

I have notices this is new project, serverpilot and runcloud wont be happy about this, thats for sure 👍

1. How secure is the login page or do i need to add some firewall rules?
2. Are users of each apps jailed?
3. Does destination (added) server communicate with panel server over some port like serverpilot or dest server pings panel from the inside?
4. What ports are open by default?
5.

[2020-11-19 21:09] jimisens commented on #149
Ok,
I found that if you install Cipi from composer you need to paste the version wanted.
So
Via Composer (Laravel Project)
composer create-project andreapollastri/cipi:2.4.9 <your-folder>

[2020-11-19 21:09] #149 closed

[2020-11-20 09:21] magix01 commented on #150
Is this abandoned, i see last commit 4+ months ago?

[2020-11-20 11:57] andreapollastri commented on #150
Hi! The project is still alive and currently I'm working on version 3 that will be ready on first part of 2021.
Sorry if I'm not full time on Github but I've a full time job and in this period I can't follow issues here but the version 3 will be ready soon and will solve many issues that I read everyday anyway!

About your questions:

1 - How secure is the login page or do i need to add some firew

[2020-11-20 11:58] andreapollastri commented on #148
Hi, sorry for the late... I know it, I'm working to solve it... in v3 that will be released soon, this bug will be fix! Sorry!

[2020-11-20 12:00] andreapollastri commented on #147
Hi, sorry for the late reply... my last month was terrible. I'll fix it on v3 that will be relese in the first part of 2021 in the meanwhile the solution of @ninety3  works!

[2020-11-20 12:00] #147 closed

[2020-11-20 12:01] andreapollastri commented on #146
Hi, sorry for the late reply... I know about this issue and I'm working to solve it in v3 that will be pubblish soon (first part of 2021)

[2020-11-20 12:01] #145 closed

[2020-11-20 12:01] #146 closed

[2020-11-20 12:01] #148 closed

[2020-11-20 12:01] #111 closed

[2020-11-20 12:01] #144 closed

[2020-11-20 12:02] #112 closed

[2020-11-20 12:48] magix01 commented on #150
Thank you for your time, this will be interesting.

Regards

[2020-11-20 14:21] magix01 commented on #150
Just a suggestion i have been thinking, since the exchange happens with ssh/22 could it be possible then to make panel connect to cloud servers instead of other way around, that we we could use panel on localhost or behind firewalls not exposing it to public. Is this possible?

[2020-12-02 19:05] kernelhacks commented on #150
Can CIPI be used to resell the VPS/Droplets from digitalocean or any other VPS provider?

[2020-12-03 09:08] andreapollastri commented on #150
@magix01  I'm working to improve that part in v3.

@kernelhacks Sure! Currently you can install Cipi into DO droplets... in the future you will be able to run new droplets directly through Cipi.

[2020-12-26 16:32] giorgosstab opened #152 "Centos 8"
its possible to run this script at centos?

[2021-01-10 21:47] qzoke opened #154 "Any Possibility of Apache ??"
Hi, Is there any chance of Apache + Nginx as Reverse Proxy instead of Nginx as Main Server Handling Request.

 I  have read it on multiple blogs. Here is one of them :

 https://www.cloudways.com/blog/wordpress-nginx-with-apache/

The reason I am locking for Apache is because of htaccess file, modules and its familiarity. But Also speed of Nginx.

[2021-01-11 14:06] vincentbitter opened #155 "Installation failure $'\r': command not found"
When I try to install via
`wget -O - https://cipi.sh/go.sh | bash`
on Ubuntu 18 (64 bit) the following exception is thrown
`$'\r': command not found`

This probably means the file is saved in a Windows format.

It works fine if I try to install via
`wget -O - https://raw.githubusercontent.com/andreapollastri/cipi/master/setup/go.sh | bash`

[2021-01-12 13:10] kassemz opened #156 "Removing Self Manager feature"
I see on the road map for V3 https://github.com/andreapollastri/cipi/projects the Self Manager feature.

I think Cipi should stay away from this feature (ability to host apps on the control node) so the control node is focused on what it needs to do, control other servers. For example if one of the apps hosted on the control node is consuming a lot of resources, this would affect the reliability o

[2021-01-13 11:13] andreapollastri commented on #155
Hello! Thank You for the issue, recently I changed hosting VPS for cipi.sh website breaking go.sh file. Now it's fixed! Thank You

[2021-01-13 11:13] #155 closed

[2021-01-13 11:15] andreapollastri commented on #154
Hi, I know that .htaccess is very useful but I'm sorry, I'll not include Apache in v3.

[2021-01-13 11:15] #154 closed

[2021-01-13 11:15] andreapollastri commented on #152
Hi, No Sorry, as other similar Control Panels, Cipi runs and will run only on Ubuntu.

[2021-01-13 11:15] #152 closed

[2021-01-13 11:16] #150 closed

[2021-01-13 11:17] andreapollastri commented on #156
HI! This is a good point of view, let me think about it because currently I'm developing v.3 yet. I'll notice to you my decision soon. Thank You for the issue!

[2021-01-13 11:19] giorgosstab commented on #152
i dont think so..i know many control panels run in multiple os..btw better os for control panel and security is centos. thanks for answer btw.. happy coding

[2021-01-13 11:22] andreapollastri commented on #152
Uhmmm... You are right if you mean cPanel, Plesk, ... but Cipi similar products such as Server Pilot, Ploi, Runcloud, ... runs all on Ubuntu. I'm sorry but the effort required to make a CentOs Cipi version is not in my plans. I'm really sorry.

[2021-01-25 17:45] magix01 commented on #156
@andreapollastri

Well you could always leave option to install it as C&C center or locally as other webpanel. I am testing your panel for few months, the stack is really stable and fast. You should just better support cloudflare, logs dont show real user ip but cloudflares for instance, wordpress wp-admin goes into infinite redirect loop when on cf etc... But overall keep the good work :)

[2021-01-27 20:03] magix01 opened #158 "Wilcard domain"
Hi,

is it possible to create wildcard domain so all domains that are not defined, but pointed to server can use the same public_html folder?

@andreapollastri
Regards

[2021-01-28 08:56] andreapollastri commented on #158
Hi @magix01 .. shure! You can set a domain alias as *.domain.ext but you cannot generate a Let's Encrypt Wildcard in current version of Cipi ;/ so if you need SSL you have to declare every single subdomain or use an external service such as Cloudflare or https://punchsalad.com/ssl-certificate-generator/

In Version 3 I'm working to enable SSL wildcards!

[2021-01-28 08:57] andreapollastri commented on #156
Thank You for your feedback @magix01  ... I'm working to improve Cipi in version 3. I hope that it will be a great product!

[2021-01-28 09:32] magix01 opened #159 "SSH Default dir, PMA, Panel SSL, Panel Default PW"
I few more "issues" to report.

**1. When you login with ssh clients such as Putty or WinSCP to some user the default login dir is the one saved and when you login again the same dir persists so you have to change folders or cd each time.**

Suggestion is that each user ssh have its own default /web/public dir, i know SP, runcloud and cyberpanel do it like that so when logged in you auto get chang

[2021-02-08 06:59] LemarinelNet opened #162 "Docs page is broken"
Hi,

Doc page rendering is broken : the chrome dev tools reports that the files in the assets folder are missing (404)

Regards

[2021-02-10 15:39] magix01 opened #163 "No cURL in php?"
I have noticed there is no curl extension in php, tested with php 7.4, dont know about other versions.

I installed it with root:

sudo apt-get install php7.4-curl

Then restarted nginx service, however i think you should include this by default since lots of licencing plugins for wordpress use curl.

Regards

[2021-02-11 16:44] ovizii commented on #156
I'm happy I found this thread as I was wondering (after reading the cipi official docs page) whether cipi has to be installed on a separate Server or on one of the managed servers.

[2021-02-11 16:46] ovizii commented on #156
I also think that the description is a bit misleading "An Open Source Cloud Control Panel"

maybe that should be changed to "A self-hosted Open Source Cloud Control Panel" to make it clearer?

Or maybe you want to offer it as a hosted service?

[2021-02-11 16:48] ovizii commented on #150
That sounds great, it looks wasteful to run a whole server just for cipi so having it run locally would be great.

[2021-02-11 16:53] ovizii opened #164 "How about a dockerized version?"
A while ago, I started running most of my "smaller" projects and apps inside docker containers behind a reverse proxy (traefik in my case) - seeing the low system requirements of cipi this should be doable too.

What are the dev's thoughts on this?
Doable, not doable, makes no sense, etc.?

[2021-02-13 05:56] kassemz commented on #156
Thanks @andreapollastri

I noticed there are no commits related to V3 on master branch and no related branches, a different repo?

[2021-02-13 06:00] kassemz commented on #163
Yes definitely, PHP curl is essential.

[2021-02-16 10:53] magix01 opened #165 "GD Library missing"
Hi, tested on php 7.4, GD library is missing please add that to the ver 3 release, as wordpress auto thumbnail generator depends on it. I have installed it with:

sudo apt-get php7.4-gd

Then restarted nginx, however gd should be there by default.

regards

[2021-02-16 11:30] andreapollastri commented on #165
Hi! Thankyou for the issue... I'll investigate and solve it in v3! Thank You

[2021-02-16 11:31] andreapollastri commented on #164
Hi, Thank You for the issue. I confirm that v3 is fully localhostable and that it will use Docker to run! So you a have to wait 2 weeks for next version ;)

[2021-02-16 11:32] andreapollastri commented on #163
Hi! Thank You for the issue... I'll investigate and solve it in v3! Thank You and sorry for my bad .... I checked it... now I'll recheck it!

[2021-02-16 11:34] andreapollastri commented on #162
Hi... Thank You for the issue... I investigated... no "important" files are missed from Doc but with next version 3, Docs will be update so I will not work to solve this little issue. anyway Thank You for the support!

[2021-02-16 11:34] #162 closed

[2021-02-16 11:39] andreapollastri commented on #159
Thank You for this report...

- About point number 1, I'm working on it for v3.
- About point number 2, Phpmyadmin will be removed in v3.
- About point number 3, I can't force a default SSL because for law reasons I can't supply a my own subdomain in installation... domains has to be owned from each "client"... in Docs there is a procedure to create it with a custom domain / subdomain
- About poin

[2021-02-16 11:40] andreapollastri commented on #156
@kassemz yes... I'm working on it in a private repo for my personal reasons... I'll pubblish it in next days... when I'll be ready

[2021-02-16 13:17] magix01 commented on #159
@andreapollastri

About point number 3, you dont need to supply you own domain or forced SSL cert (your own), there is an option to auto generate self signed certificate during "install time" that generated self certificate will be crypto generated and you wont have any connection with it, how ever since it will be self signed it will be invalid, so you need to accept that cert to use panel (eg. c

[2021-02-21 22:18] LucioSaldivar opened #166 "No server after install"
After a sucessful install of Cipi. I log in and find that there are no servers registred. When I try my servers IP to add it, it says that I cannot set up Client server or Cipi server.

New to all of this and am currently running my own home server. Ubuntu 20.04

[2021-02-22 08:14] andreapollastri commented on #166
So... it will not show you your server IP?

[2021-02-22 20:47] hesyar commented on #164
Does this mean that it also would run within kubernetes?

[2021-02-23 02:39] LucioSaldivar commented on #166
Correct. I bought a server and would like to use this panel for it.

I freshly installed Ubuntu 20.04 on the server, connected it to my router, and successfully installed Cipi.

Now I don't know what the next steps are since I can't do much without creating a server but now sure how to go about that since I only have one.  Does this only work for Virtual Machines?
![Capture](https://user-images.gi

[2021-02-23 22:17] magix01 opened #167 "Slack notifications?"
Could it be possible to implement slack notifications with email ones, should not be too hard, just a field for webhook and the messages could be email body ones?

[2021-02-24 03:30] kingingspree commented on #166
If I understand you correctly, you installed this on your server, we'll call it server A. Then you are trying to connect said server, server A, with it as well? I do not believe that is possible. Usually with these platforms, the servers have to be in a clean slate. Someone correct me if I am wrong? Thanks

[2021-02-26 14:51] ovizii commented on #166
as far as I understand, cipi does not get installed on the server you want to manage, apparently that is on the roadmap. So basically you need a server to install cipi and then one or more you want to be managed by cipi.

[2021-02-26 16:01] andreapollastri commented on #167
Hi @magix01 in stable version 3 Slack notifications will be include

[2021-02-26 16:02] andreapollastri commented on #166
Hi currently (v2), Cipi is such as ploi.io, runcloud, serverpilot and similar SaaS but in v3 it will include self manage feature!

[2021-03-06 07:35] joglomedia commented on #166
can't wait for the v3 :heart_eyes:

[2021-03-14 18:39] Raheemshah2809 opened #169 "Cipi doesnt show after install"
Hi all, so basically i ran the command and it said it was installed successfully,
it gave me a link and ip address so i can acess cipi, ive entered the link in the browser andit doesnt show me the dashboard for some reason. this is waht is shows me.

<img width="961" alt="Screenshot 2021-03-14 at 18 39 52" src="https://user-images.githubusercontent.com/66431658/111080081-ac262600-84f4-11eb-94f1-47

[2021-03-14 19:10] andreapollastri commented on #169
Hi! In your image I can see Apache ;( are you sure that you installed Cipi on a clean Ubuntu VPS?!? I think that you installed it on a preinstalled VPS. I'm sorry!

[2021-03-14 19:10] #169 closed

[2021-03-17 22:35] osidney opened #176 "Access to the panel."
I just performed an installation of Cipi, at the end he informed credentials of root SSH and root MySQL accesses, however with root SSH credentials I was unable to log in to the panel, is there a standard user or does it need to be created manually?

[2021-03-17 22:39] andreapollastri commented on #176
You are right! I forgot to write it... First access to panel is: administrator / 12345678!
Then you can update your credentials into Settings Area ... Tomorrow I will update the Readme.
Thank you for the issue

[2021-03-17 22:44] osidney commented on #176
@andreapollastri Thanks.

[2021-03-17 22:45] #176 closed

[2021-03-17 22:47] andreapollastri commented on #166
Solved in current version 3 (now in beta... soon in LTS)

[2021-03-17 22:47] #166 closed

[2021-03-17 22:48] andreapollastri commented on #165
Solved in current V3

[2021-03-17 22:48] #165 closed

[2021-03-17 22:49] andreapollastri commented on #164
Partially solved in Cipi v3... you can dockerize it but you have to expose your local project to a public IP during the operations on the servers.

[2021-03-17 22:49] #164 closed

[2021-03-17 22:49] andreapollastri commented on #163
Solved in current V3

[2021-03-17 22:49] #163 closed

[2021-03-17 22:50] andreapollastri commented on #156
Self managment currently is in V3 but is such as "optional"... you can use Cipi to control only other servers without any problem

[2021-03-17 22:50] #156 closed

[2021-03-18 11:04] magix01 opened #178 "Unable to install *stuck*"
DigitalOcean 20.04 LTS, console:

<code>
root@CIPIV3TEST:~# wget -O - https://cipi.sh/go.sh | bash
--2021-03-18 11:03:11--  https://cipi.sh/go.sh
Resolving cipi.sh (cipi.sh)... 104.16.244.78, 104.16.243.78, 2606:4700::6810:f34e, ...
Connecting to cipi.sh (cipi.sh)|104.16.244.78|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16913 (17K) [text/x-sh]
Saving to: ‘STDOUT’

-

[2021-03-18 11:15] magix01 commented on #178
Hmm, after chmod +x on go.sh local download and then running it with ./go.sh the installation appears to start normally.

[2021-03-18 11:18] andreapollastri commented on #178
OK! Thank You for the issue... I'm happy that you have solved your issue but I'll investigate on this case (never happened in my tests). Let me know (site edit section is incomplete but your Cipi will be auto - update when I'll release new features).

[2021-03-18 13:22] magix01 commented on #178
@andreapollastri

I like the new look, just checked a few features, panel seems nice.. will wait for stable and lts before i migrate :)

[2021-03-21 11:21] duydinh71 commented on #178
Hi Andrea Pollastri,
I have same install issue on my fresh ubuntu droplet DigitalOcean.
I found out that /dev/random not running so I changed it to /dev/urandom and it's working.
PASS=$(head -c 16  /dev/urandom | md5sum | cut -f 1 -d\ )
DBPASS=$(head -c 16  /dev/urandom | md5sum | cut -f 1 -d\ )
SERVERID=$(head -c 16  /dev/urandom | md5sum | cut -f 1 -d\ )
I hope you investigate on this case.
Than

[2021-03-22 10:33] andreapollastri commented on #178
Fixed auto installation script bug in Digital Ocean... thank you for the issue! ;)

[2021-03-22 10:33] #178 closed

[2021-03-25 14:22] ovizii commented on #164
Would you mind giving me some more pointers on how to do this? I am sure its not as easy as creating a docker container based on ubuntu 20.4 and add:
RUN wget -O - https://cipi.sh/go.sh | bash

I would give it a go if I had some ideas where to start especially since you said its partially solved.

[2021-03-26 03:57] aobweb opened #187 "Connect to DigitalOcean, Vultr, Hetzner, etc... using api keys for easy deployment"
It would be awesome if we could Connect to DigitalOcean, Vultr, Hetzner, etc... using api keys for easy deployment. Ploi.io uses this method to make it super easy to deploy servers on any cloud platform. I think it would be a great enhancement, and I'm ready to make a donation for this project for such feature to be implemented.

[2021-03-28 08:43] andreapollastri commented on #187
Hi, you are right. Cipi Version 3 has an auto update system and I'm working on several improvements that will be integrated in next months. So I think that this feature will be available this summer. Thank You for the issue.

[2021-03-28 08:43] #187 closed

[2021-04-02 01:52] heartshare opened #188 "After install nginx 502 bad gateway"
Need to update the nginx setting pass from php8.0 to php7.4

[2021-04-02 07:10] andreapollastri commented on #188
Hi... can you give me more details? I can't understand your issue. Thank You

[2021-04-05 06:58] dimonpanik opened #189 "mistake"
https://github.com/andreapollastri/cipi/blob/4f83a08b88f5448dab786f6dc128834b81d247dd/resources/views/settings.blade.php#L265

[2021-04-06 22:35] cyber-mac opened #190 "504 gateway time-out after reboot"
Deployed a VM (Google Cloud - f1 instance w/ 614MB ram) with Ubuntu 20.04 LTS, all packages were up-to-date.  Installed CIPI, the Web UI was accessible and working post install.  While still connected via SSH after installing CIPI I initiated a system reboot.  After which the VM becomes inaccessible, unable to SSH, the CIPI Web UI is not accessible -- when accessing the site via IP address all tha

[2021-04-06 22:42] cyber-mac commented on #190
Further to -- this is repeatable, as I destroyed the VM, created a new VM, ensured all packages were updated -- did a system reboot and the VM was still accessible.  Installed CIPI and following installation everything was functional.  Perform a system reboot and as previously mentioned the VM becomes inaccessible, unable to SSH, the CIPI Web UI returned 504 Gateway time-out.  VM console access is

[2021-04-08 04:13] techieshark commented on #189
@dimonpanik are you able to elaborate? I'm just another user and I do not see what you are trying to say

[2021-04-08 05:05] dimonpanik commented on #189
@techieshark well, an error in the word password. Sorry for the empty request, it just hurts my eyes

[2021-04-08 13:32] railto commented on #189
Was actually quicker to fork the repo, fix the issue and submit the PR than it would have taken to open the ticket, just saying.

[2021-04-08 13:53] #188 closed

[2021-04-08 13:54] andreapollastri commented on #190
Hi, thank you for the issue, I'll investigate on it and return to you soon

[2021-04-08 13:56] andreapollastri commented on #189
HI! Thank You for the issue and sorry for the late... this is a busy week but I'll fix and release other stuff on Cipi 3 in next 2 days.

[2021-04-08 14:01] andreapollastri commented on #189
Thank You for the PR @railto, it has been merged into 3.x branch and it will be released in next hours in Cipi version 3.0.1.

[2021-04-08 14:01] #189 closed

[2021-04-08 20:59] shumtz opened #193 "Frontend UI"
Hi! Me again ... I'm testing Cipi, but I've been thinking about improving the user interface (Dashboard, login pages and more).

I can help with that.

[2021-04-08 21:09] techieshark commented on #193
@shumtz could you post a screenshot? I'm considering using cipi but haven't had chance  to set it up yet (so I'm curious what it looks like currently).

[2021-04-08 21:23] shumtz commented on #193
Yes! Images here: https://imgur.com/a/4y8MK4K.

I am writing a new user interface. I'm using Cipi in development mode (localhost), the server is more complete.

[2021-04-08 21:24] shumtz commented on #193
There are more settings on the server in production.

[2021-04-08 22:11] techieshark commented on #193
Thanks @shumtz!

[2021-04-08 22:21] shumtz opened #194 "Contribution"
I am working on contributions to the project. It would be nice to use "projects" to organize and see the progress of the project.

[2021-04-08 23:26] techieshark commented on #193
OK, I've just been able to test this locally using [Vagrant](vagrantup.com/) + [Virtualbox](https://www.virtualbox.org/) (config details below).

Some UX thoughts:

1. when it first loads a page called "Dashboard", it is blank and I'm like "ok what do I do now?". So maybe there could be some "welcome to Cipi, here are the docs and here's what you might do to get started..." to cover that blank are

[2021-04-08 23:40] shumtz commented on #193
Wow, awesome! Thank You for all suggestions. I'm working on the UI, I'm going to apply some suggestions that you made. Thanks.

My fork for updates.
https://github.com/shumtz/cipi

[2021-04-09 02:37] techieshark commented on #193
Possibly some other inspiration here - https://github.com/coollabsio/coolify#screenshots

[2021-04-09 03:19] shumtz commented on #193
In "dashboard" exist components for ram usage, cpu e etc... Maybe need installation Cipi 100% to work.

![screenshot](https://prnt.sc/117tb56)

I will change it, make the components visible in all situations...

I'll be back with some changes and news.

[2021-04-09 03:19] shumtz commented on #193
Link for image: https://prnt.sc/117tb56

[2021-04-09 03:25] shumtz commented on #193
Maybe this for dashboard page...

![Captura de tela 2021-04-09 002306](https://user-images.githubusercontent.com/44671356/114124086-ff0fb500-98c9-11eb-9079-f906b7b8af09.png)

For more information and details in page.

[2021-04-09 03:30] shumtz commented on #193
Maybe this for footer in sidebar.

![Captura de tela 2021-04-09 002922](https://user-images.githubusercontent.com/44671356/114124354-a55bba80-98ca-11eb-9499-f059fa396478.png)

More visibility for the user...

[2021-04-09 05:16] techieshark commented on #193
+1 for putting CPU/Mem/Disk usage in sidebar (would they update in real time?)

[2021-04-09 08:43] LemarinelNet opened #195 "Site Basepath not updating nginx conf"
Hi,

Using Cipi 3.0

I've created a site with default settings : basepath /public/
I need to change the basepath, so I went to site settings, changed basepath to /current/public
Saved, it is correctly saved on site settings, but when I look on the server nginx site's conf, it is still on /public (not reflecting "current/public").

Thanks

[2021-04-09 10:22] andreapollastri commented on #195
Hi @LemarinelNet . Thank You for the issue. This is a site patch API bug. I'll fix it and release in the next 2 days. Thankyou.

[2021-04-09 16:21] andreapollastri commented on #195
Hi @LemarinelNet this issue should be solved in Cipi version 3.0.1. Your Control Panel will receive this update automatically this night. Let me know if something goes wrong. Thank You

[2021-04-09 16:24] andreapollastri commented on #190
I tried to replicate your case in GCP and I haven't issues. Let me check again but I'm really sorry... I could not help you with current information.

[2021-04-09 16:24] #190 closed

[2021-04-09 16:28] andreapollastri commented on #159
Hi... in version 3 many things changed...

Point 1 -> shoud be fixed
Point 2 -> phpmyadmin is not supported yet in Cipi v3
Point 3 -> in settings area you can generate a free Let's Encrypt cert
Point 4 -> nope... you can change it after first login into settings area
Point 5 -> now you can do it into .env file... the customizable parameters are:
        //Branding
        'name'          => env('C

[2021-04-09 16:28] #159 closed

[2021-04-09 16:29] andreapollastri commented on #158
Nope... in current v3, SSL Wildcards are not supported... maybe in the future, I'm Sorry :(

[2021-04-09 16:29] #158 closed

[2021-04-09 16:30] andreapollastri commented on #167
Nope... in current version external integration are not supported... I'm Sorry ;( but... you can use Cipi API to integrate Cipi Core into your own business logic.

[2021-04-09 16:30] #167 closed

[2021-04-09 16:34] andreapollastri commented on #193
Hi @shumtz ... Thank you for your idea... I'm a backend dev... not frontend so an help is welcome :) but there is some problem with your design:
- Cipi manages more than 1 server so in dashboard I have to visualize more "tabs"... sidebar is not enough
- I don't want to show "update news" in dashboard because IMHO are not important and they will be not so "frequently" updated

[2021-04-09 16:36] andreapollastri commented on #194
Hi @shumtz , thank you for your interest in Cipi! I'm a backend developer so I'm really happy if some fronteder helps me to improve Cipi, I responded to you in your prev issue. I'll close this one.

[2021-04-09 16:36] #194 closed

[2021-04-09 17:27] shumtz commented on #193
It's true... I didn't pay attention to this specific detail.

I need to work at the moment. Later on I will develop a design to work on all servers. I'll be back with more ideas and changes.

Thanks

[2021-04-10 17:49] LemarinelNet commented on #195
The base server did update this night, but the slave server is still on a lower build number ?
Is there something to do so the server will update ?

[2021-04-10 17:53] andreapollastri commented on #195
No! The issue was related to panel, so if your panel is now at version 3.0.1 is OK.
The server client build was not affected from the basepath bug. It will be updated automatically in case of new PHP versions or similar.
Let me know if the issue is not solved also in version 3.0.1. And thank you again for this bug discovery!

[2021-04-10 17:56] LemarinelNet commented on #195
Well I've try to update my site's basepath on the central server, and the slave server nginx conf did not changed !
Thanks for being so quick !

[2021-04-10 18:04] andreapollastri commented on #195
Ok! I'll re-check this evening and I'll update you. I'm sorry for the issue! I'll solve it.
The only doubt that I have is that your site is "not aligned" with panel (for the issue).
So suppose that your website started with "public" basepath and then it changed in "" but the issue updated only the panel dB and not the nginx conf... now the panel is trying to find the updated conf in nginx conf and

[2021-04-10 18:14] wesleydeveloper opened #199 "My cipi did not update automatically. What to do?"

[2021-04-10 18:15] andreapollastri commented on #199
Is it remains a version 3.0 and not to 3.0.1?

[2021-04-10 18:25] LemarinelNet commented on #195
I'll check with a new site, I'll tell you.
Perhaps a workaround would be to surrond root path with special comments so the panel would find it easily like this :

###ROOTPATH
root /home/users/
###ENDROOTPATH

[2021-04-10 18:28] wesleydeveloper commented on #199
is still in version 2.4.9. Ubuntu 18.04

[2021-04-10 18:30] andreapollastri commented on #199
Ah OK! I'm sorry but auto update function is available only since version 3.0. I know that is a bullshit reinstall everything but since v3 the updates works without issues.

[2021-04-10 18:30] #199 closed

[2021-04-10 18:31] wesleydeveloper commented on #199
how do i migrate without losing connection to the running instances?

[2021-04-10 18:32] wesleydeveloper commented on #199
OK! I will do this. Thanks!

[2021-04-10 18:39] LemarinelNet commented on #195
I can confirm that on a new site it works.
Don't worry about my current (not working) site, it was a test ;)

PS : I noticed that the first site conf was a standard file, but the new one is a symbolic link ?

[2021-04-10 19:03] andreapollastri commented on #195
Hi, from a last check I notice that my last fix works but it didn't let you to return to an empty basepath from a "filled" basepath so I fixed it. I confirm that new sites correctly works.

About symbolic link I didn't have the same situation... I really don't know!

[2021-04-10 21:26] andreapollastri commented on #199
You cannot migrate from v2 to v3, sorry!
Since v3.0 any future version will be compatible but there is a breakchange from 2 to 3 so you have to reinstall sites. Sorry

[2021-04-12 07:46] magix01 opened #208 "Reset cipi user password on v2?"
Any way to reset cipi user password on cipi v2 since root login is disabled, using digital ocean?

[2021-04-12 07:56] andreapollastri commented on #208
main cipi user is a "root" user... so you can use it to ssh as root! The main server cipi password was show after installation and you had to save it.. the client servers cipi password can be resetted by panel.
Let me know!

[2021-04-12 12:57] wesleydeveloper opened #209 "site user does not connect via ssh. What to do?"
I migrated from v2 to v3. I have 3 servers already installed the 3, however when I create a website the user is not created on the server I defined.

![image](https://user-images.githubusercontent.com/31361341/114397316-ef67c900-9b74-11eb-8ce8-24a9850233f0.png)
![image](https://user-images.githubusercontent.com/31361341/114397697-54232380-9b75-11eb-9e21-78c2e1417f12.png)

[2021-04-12 15:12] andreapollastri commented on #209
Can you post me the laravel.log file (without private data) that you can find in your main Cipi server at directory:
/var/www/html/storage/logs?

Thank You!

[2021-04-12 15:50] wesleydeveloper commented on #209
[2021-04-12 12:07:55] production.ERROR: At least one byte needs to be present for successful C / b decodes {"exception":"[object] (LengthException(code: 0): At least one byte needs to be present for successful C / b decodes at /var/www/html/vendor/phpseclib/phpseclib/phpseclib/Common/Functions/Strings.php:92)
[stacktrace]
#0 /var/www/html/vendor/phpseclib/phpseclib/phpseclib/Net/SSH2.php(2152): ph

[2021-04-12 16:00] andreapollastri commented on #209
OK! There is connection timeout!
So tell me... what you have done is:
- take a new fresh VPS
- install cipi 3 on it
- create a new server
- install with cipi 3 auto generated script the new server (new fresh vps)

and then you have this error?

Check that client server 22 port is open and that main Cipi IP is not banned from client firewall then confirm me or tell me your procedure before errors!

[2021-04-12 16:13] wesleydeveloper commented on #209
![image](https://user-images.githubusercontent.com/31361341/114426519-8aba6780-9b90-11eb-9b0e-5f5d4f9da20e.png)
I configured the 3 servers according to the documentation. And everything seems normal, but when I create a website it starts correctly but the ssh user does not work. As an example I have this guiadelta.com.br

[2021-04-12 16:18] wesleydeveloper commented on #209
I will reset all my machines and redo the installation

[2021-04-12 16:21] wesleydeveloper commented on #209
my servers are aws and digital ocean

[2021-04-12 16:23] andreapollastri commented on #209
Yes... it seems that it did not communicate via SSH with other servers.... now I'm installing 2 servers in Digital Ocean to try again Cipi (because for many tests I used AWS).

I'll return to you soon... the first one is installed... I'm waiting for the second one!

[2021-04-12 16:29] andreapollastri commented on #209
I found your problem!
It's an AWS firewall problem!

The domain that you sent to me (guiadelta.com.br) is on IP: 18.228.90.106
If you check it... port 22 is close: https://viewdns.info/portscan/?host=18.228.90.106

[2021-04-12 16:32] andreapollastri commented on #209
Anyway... I'm tryng to create a situation similar to your situation and I'm making some test in DO and AWS. I'll update you!

[2021-04-12 16:32] wesleydeveloper commented on #209
![image](https://user-images.githubusercontent.com/31361341/114429261-880d4180-9b93-11eb-8aed-0e51209bacb3.png)
is because I just hung up to reinstall more it was already open, look

[2021-04-12 16:34] wesleydeveloper commented on #209
I will redo the installation to check if I did something wrong

[2021-04-12 16:34] andreapollastri commented on #209
OK! Wait... I'm testing it for you! Give me 1 hour and I'll finish my checks on AWS and Digital Ocean

[2021-04-12 16:38] wesleydeveloper commented on #209
OK! It's very kind of you

[2021-04-12 17:07] andreapollastri commented on #209
Hi @wesleydeveloper ... I did several tests in the past and now I re-try to install Cipi from zero on a NY based Digital Ocean VPS then I created a FRA based AWS ec2 istance and another NY based Digital Ocean VPS and I tryed to install them from Cipi.... It worked fine... I tryed to create and delete sites several times on both VPSs and I didn't get any SSH error!

This is a screenshot of my setup

[2021-04-12 17:07] #209 closed

[2021-04-13 18:13] #208 closed

[2021-04-14 22:22] ialexpw opened #218 "Redirect a sites www.* goes to /login page"
Hi there,

Just installed Cipi and liking it so far.

I've added a site to it (e.g. domain.com) and added an Alias of www.domain.com and then enabled SSL. That works and when I visit domain.com it shows the "Coming soon" page, but if I visit www.domain.com it seems to redirect to www.domain.com/login which is showing the Cipi login page.

Is this something I've configured incorrectly or is there a

[2021-04-15 05:03] andreapollastri commented on #218
Hi! Thankyou for the issue!
I'll check the Alias script today and I'll update this issue.

Best

Andrea

[2021-04-15 07:44] andreapollastri commented on #218
There is a bug... I'm fixing it! The patch will be ready soon in version 3.0.6. Thank You for the issue

[2021-04-15 08:31] andreapollastri commented on #218
Hi @ialexpw,
I just commit a fix that will solved aliases and related SSL certs issues.
This patch will be available in Cipi v3.0.6... your Cipi Panel will be automatically update this night.
Thank You again for the help with this bug ticket. Let me know if with new version you will have any issue again.

Best
Andrea

[2021-04-15 08:31] #218 closed

[2021-04-21 14:57] eninja-gh opened #226 "502 Bad Gateway"
Hello There,

I'm getting 502 Bad Gateway after installation ... how can I fix it?

[2021-04-21 15:01] andreapollastri commented on #226
Hi! What provider are you using? In some of them such as Contabo many users have issues and I have to investigate why... I think that it doesn't use standard repositories for PHP!

[2021-04-21 15:03] eninja-gh commented on #226
Unfortunately, I'm using Contabo ... How can I send you root login details for you to check or, which repository do you want me to add before running CPI installation?

[2021-04-21 15:08] andreapollastri commented on #226
I'm working on a patch for Contabo! Currently I have not solutions for it! In any other provider that I tried, Cipi works... but I will release a patch soon! I'm really sorry to don't be able to solve the situation in this moment. I suggest to you to try to install manually PHP FPM 7.3,7.4 and 8.0 and relative extensions.

Remember that Cipi disable root access after installation and you have to u

[2021-04-21 21:21] andreapollastri commented on #226
I close the issue and I will notify to you when the patch is ready!

[2021-04-23 14:31] magix01 opened #227 "Upgrade v2 to v3?"
Is it possible to upgrade v2 to v3 without loosing servers or functionality?

[2021-04-27 14:52] LemarinelNet commented on #195
Still a bug...
I try to change a site's basepath :
It sends the correct PATCH http request, with the new basepath I set (seen in dev tools console), but then the web UI refresh and show the previous value (not updated !!)

[2021-04-27 15:00] andreapollastri commented on #195
Hi @LemarinelNet what Cipi version are you running? 3.0.8?

[2021-04-27 15:01] LemarinelNet commented on #195
Yes! 3.0.8

[2021-04-27 15:02] andreapollastri commented on #227
Hi @magix01  sorry for the late reply... currently no. I'm working on this feature but I don't have an ETA yet!
It's no so simple and Ubuntu 18.04 is not yet supported by Cipi v3. And there are also problems within PHP7.2 and MySql 5.7 so I think that it would be not possible... nut I'm working on it... since v3, every update will be compatible with future versions!

[2021-04-27 15:04] andreapollastri commented on #195
It's really strange, I'm really sorry... let me check and test the current version in the next hours and I'll update the issue tonight or tomorrow!

[2021-04-27 15:16] LemarinelNet commented on #195
Ok I'll wait :)

[2021-04-28 03:17] Teclehome commented on #226
Hello, I'm in the same situation on the contabo server. You can also let me know when you resolve this issue. I look forward to testing CIPI.

[2021-04-28 09:49] andreapollastri commented on #226
Contabo VPS bug will is fixed. You have to install from zero on a clean Ubuntu 20.04 VPS, CIPI version 3.0.9 that will be released in the next hours!  I'm really sorry about this issue that is restricted to Contabo VPSs only.

[2021-04-28 09:49] #227 closed

[2021-04-28 10:49] hxinen commented on #226
No wonder... I had to reinstall 3x

[2021-04-28 11:03] andreapollastri commented on #226
The problem was related to PHP official packages that on Contabo didn't work :(
Now I solved it but you have to reinstall Cipi from zero on your Contabo VPS (clean installation of Ubuntu 20.04).
Version 3.0.9 has been released now and it works! I'm sorry... I'm not a Contabo user and in any other VPS Cipi worked fine... now it works also in Contabo, thankyou for the issue and sorry for the reinsta

[2021-04-28 11:06] andreapollastri commented on #195
Hi @LemarinelNet ... thankyou for the issue. Cipi had a problem on the Site PATCH API endpoint that I solved in current version (3.0.9). Your Cipi panel will be update automatically this night!
You should not but... if you have any issue with current sites, try to recreate them... anyway if you have problems open an issue and I'll fix it. Thank You for the issue. You are helping to improve Cipi, s

[2021-04-28 11:06] #195 closed

[2021-04-28 12:29] hxinen commented on #226
I don't think it works. I reinstalled my OS and Cipi
![image](https://user-images.githubusercontent.com/7673032/116403622-603efe80-a860-11eb-8d54-73a6249656f4.png)

[2021-04-28 13:10] andreapollastri commented on #226
Really sorry!

[2021-04-28 13:34] andreapollastri commented on #226
Ok! I released version 3.0.9 with an error, really sorry... Version 3.0.10 works... this is a brand new Contabo S size VPS within Cipi 3.0.10: http://167.86.90.245/

Now it works without issues. Thank You for the ticket.

[2021-04-28 13:34] #226 closed

[2021-04-30 10:23] johnnestebann commented on #193
Hey guys, i'm a full stack software developer, with laravel/symfony and vue/angular/bootstrap experience, and sysadmin too. I really would like to help with the project (back and front). I was designing mobile-friendly/desktop dashboards and interfaces based on bootstrap 5 like this

![image](https://user-images.githubusercontent.com/25795363/116682079-2ebf5380-a984-11eb-97e1-5c8ef4b285f3.png)

It

[2021-05-03 12:51] LemarinelNet commented on #195
It works !!
Thanks

[2021-05-07 11:05] LemarinelNet opened #240 "Manager Backup"
Hi

Not related to site's backup, but this time to Manager backup :

What would happen if one's cipi "manager" server crash : how would you put it back starting from scratch, and getting your sites back ? That would be almost an impossible task !

Cipi should include a manager backup (essentially a db backup ?)

Spatie/laravel-backup is something I use on my laravel projects, it could be a good ca

[2021-05-13 07:12] tyronehey opened #242 "Using blade"
I have a suggestion. We can use the blade for script generation. It allows us to generate dynamic scripts, for example, having a select box when creating a new server to install PostgreSQL/MongoDB instead of MySQL if users want it or using blade's condition for allowing users to don't install Redis/Node if they don't want to and lot more.

 I want to contribute, so If you need help, let me know.

[2021-05-13 21:42] MichaelWinson opened #243 "Unable to delete site after creation and cannot SSH to sites"
After I created a test site on a fresh installation of Cipi, unable to delete back from the dashboard as well as using API call. Can anyone guide me if there is a specific way to delete the site or any steps that I am not aware of? I am hosting on AWS EC2 instance. I only managed to delete the sites after I open the security group inbound rule to all traffice allow, which is of course not a good p

[2021-05-14 08:28] magix01 opened #244 "Huge Logfile"
Hi,

I am running cipi v2, the issue maybe still persist in v3, the access.log logfile is huge, i have a busy adserver hosted there and the logfile itself is around 16GB.

![image](https://user-images.githubusercontent.com/19437230/118243582-e08b7380-b49e-11eb-8eae-6a6ba564ce66.png)

Can you please check if you have this issue too, since this bug could fill up hdd space on less linux experienced u

[2021-05-14 17:45] ketihar opened #245 "When i change PHP-FPM version i get 502 Bad Gateway"
I use cipi on Digital Ocean VPS. Everything worked ok accept PHP-FPM version change. I used php 8.0 on a domain but when i try to change version to 7.4 or 7.3 i was getting 502 Bad Gateway. when returned to php version 8.0 the problem is solved. Restart PHP-FPM did not work.

[2021-05-16 10:29] andreapollastri commented on #245
Hi, will check this case and I'll update this issue. Thank You for report this incident.

[2021-05-16 10:30] andreapollastri commented on #244
Hi, Thank You for the issue. I'll fix this behavior in next release.

[2021-05-16 10:32] andreapollastri commented on #243
Hi, can you give me more detail about this issue? I can't recreate your case for investigate the issue. Hear from you soon. Thank You

[2021-05-16 10:33] andreapollastri commented on #242
Hi, Thank You for the issue but Cipi uses Blade yet and doesn't support Postgre, mongo and node.

[2021-05-16 10:33] #242 closed

[2021-05-16 10:35] andreapollastri commented on #240
Hi, about Backup, currently Cipi has not any Backup tool so you have to provide them with VPS snippets or with a dedicated package such as Spatie backup. In next releases I'll introduce backup options to S3 systems.

[2021-05-16 10:35] #240 closed

[2021-05-22 09:22] ribafs opened #248 "System error"
First thank you for your good software.

I install the latest version (3.0.10) and when access web panel, after login, display error message
"ops! something went wrong... try later!"
And dont synchronize RAM, CPU and HDD.
Help me, please.

[2021-05-23 09:41] TOWUK opened #249 "Feature Request | support litespeed + http/3,QUIC"
please add support this

[2021-05-23 16:39] andreapollastri commented on #248
Hi! Can you give me more details? I can't help you! If you want write me some more detail at mail@andrea.dev.

[2021-05-23 16:40] andreapollastri commented on #249
Hi! I'm working for http3 support but I'll leave nginx, not lite speed, sorry!

[2021-05-23 19:03] ribafs commented on #248
Thank you. I send a email for you.

[2021-05-28 14:11] magix01 opened #250 "Issue with local setup on Xubuntu 20.04"
Hi i tried to install on local network xubuntu 20.04 cipi panel and installation is complete, panel works but when i try to create local website this happens and spins all the time:

![image](https://user-images.githubusercontent.com/19437230/119997032-94c4e800-bfcf-11eb-9494-43affd075652.png)

I have public ip with ports forwarded 80 and 22, know why this happens?

regards

[2021-05-31 00:36] rubensrocha opened #251 "Development environment"
I would like to test some things and try to contribute to the project. How do I create a local development environment (Laradock / Docker / Devilbox)?

Os: Linux Mint
Dev: Laradock

[2021-06-02 02:18] andreapollastri commented on #250
Xubuntu is not officially supported, sorry! use Ubuntu 20.04.

[2021-06-02 02:18] #250 closed

[2021-06-02 02:21] andreapollastri commented on #251
Hi... you can use Sail or similar Docker project. Cipi is a standard Laravel Project BUT ... it's  impossible to simulate locally the server management logic... so you can run it locally but you have to manage REAL VPSs.

[2021-06-05 14:07] SpaceIgniter opened #254 "Deploy via Github? Advice and guidance please,"
Hi :)

I've managed to install Cipi, but I'm not winning by Deploying to my Server via Github.
The Cipi documentation isn't helpful in this regard either.

Could anyone please give me advice and guidance how to deploy Wordpress?
I guess if I see the proper steps to deploy Wordpress, I will be able to do it with other Github branches in future.

Thank you,
Enjoy the rest of the weekend.

[2021-06-06 14:34] WalysonGO commented on #248
Estou passando pelo mesmo erro!
Alguém poderia me ajudar?
**Lang[pt-br]**

[2021-06-06 15:36] ribafs commented on #248
Im now using CyberPanel

[2021-06-10 15:26] hkbbdx opened #255 "how install ionCube?"
Site error: the ionCube PHP Loader needs to be installed. This is a widely used PHP extension for running ionCube protected PHP code, website security and malware blocking.

php7.4

[2021-06-10 15:30] hkbbdx commented on #255
Does it seem to support online file management and PHP extension installation?

[2021-06-18 16:57] juliomgm opened #256 "myphpadmin and prestashot"
I have installed myphpadmin in via SSH
With the user: cipi
With the user: root (enabled login)
created the symbolic link

and nothing, i am unable to open /phpmyadmin

Also i have installed prestashop, i can login in admin but after that i get get err_too_many_redirects

[2021-06-28 19:26] joglomedia commented on #255
You could install PHP extension via ssh console to the VPS/instance

[2021-06-29 14:26] LemarinelNet opened #258 "Mysql : "Out of sort memory" error"
I'm trying to make a SELECT on a table with about 3000 records, with an order by clause.
Laravel is thrown an error by Mysql :

  SQLSTATE[HY001]: Memory allocation error: 1038 Out of sort memory, consider increasing server sort buffer size

Never seen such error on any of my other hosting services :)

My server has "881Mb" free memory (as seen in "free" command)... So surely not a server memory-f

[2021-06-29 15:09] osidney opened #259 "Does SSL installation work?"
I set up the master installation and a second server, set up CloudFlare on time and when I try to generate SSL on the panel's domain or on some website it doesn't work.

[2021-06-30 09:13] zharn commented on #129
Is there any way to remove the whole setup of cipi.sh?
Or deleting php8 , ngnix seperately will remove?

[2021-07-01 18:38] gerryweb opened #260 "I cannot enter the CIPI panel"
Installation in an oracle cloud VPS with ubuntu Canonical-Ubuntu-20.04-2021.05.13-0
1ocpu, 1gb ram 46gb storage
Finish the installation and give me:
SSH root user, SSH root pass,  MySQL root user, MySQL root pass
But when entering the url it appears
Can't access this website

[2021-07-01 18:48] andreapollastri commented on #254
Hello!
About Github deploy you can find more info at: https://cipi.sh/docs.html link.
The steps are:

About WP, I'm working on Application auto-install function but if you want to install it, currently you can do it:
- in "classic way" via SFTP
- via Composer (composer create-project johnpbloch/wordpress .)

Let me know if it's OK
Andrea

[2021-07-01 18:50] andreapollastri commented on #255
Hi... ionCube is not supported by Cipi in Official way so you can do it manually (e.g. https://www.tecmint.com/install-ioncube-loader-in-ubuntu-debian/) but I cannot offer to you support in this case. Best. Andrea

[2021-07-01 18:50] #255 closed

[2021-07-01 18:51] andreapollastri commented on #256
Hi, I'm working on Application Installer... it will be released in September.

[2021-07-01 18:51] #256 closed

[2021-07-01 18:52] andreapollastri commented on #258
Hi! Sorry for the late... I never seen it... I try to do some test trying to recreate the error. In the meanwhile try to restart mysql service and retry the query. Sorry for the issue... I'll solve it in next version!

[2021-07-01 18:54] andreapollastri commented on #259
Hi... You have to open 443 into your servers generating an SSL cert from Cipi ... just 1 for server than you can re-proxy your domain via Cloudflare... let me know if it works!

[2021-07-01 18:55] andreapollastri commented on #260
Hi... I'm really sorry about it... did you receive some error during installation?

[2021-07-01 19:07] gerryweb commented on #260
No, I am going to perform a new installation and I check if it marks an error and I publish it.
If oracle cloud is compatible with CIPI?

[2021-07-01 19:11] andreapollastri commented on #260
I really don't know... I tested Cipi on:
- AWS
- Digital Ocean
- Linode
- Vultr
- Azure
- UpCloud
- Alibaba
- OVH
- Aruba
- Contabo
- Hetzner
- Webdock
- Krystal
and many other providers... but I never tried Oracle. Maybe is not compatible... it depends if Oracle use some custom repository for the server provisoning or some custom version of OSs.

[2021-07-01 19:13] gerryweb commented on #260
This is the version that is installed from OS
Canonical-Ubuntu-20.04-2021.06.03-0

[2021-07-01 19:24] andreapollastri commented on #260
yes but sometimes some provider uses custom repositories for OS, extensions and other installations... try to lookup for some error during installation process and let me know!

[2021-07-01 19:52] LemarinelNet commented on #258
Thanks for having a look. I've already tried to restart the service, with no effect.

Do you want a database dump to try to reproduce ?

[2021-07-01 20:35] gerryweb commented on #260
Only mistake
![error1](https://user-images.githubusercontent.com/70297971/124186149-814ee600-da81-11eb-820e-34156986fab3.jpg)

I already have the accesses and I have the same error
![error2](https://user-images.githubusercontent.com/70297971/124186406-e30f5000-da81-11eb-9f4b-2c01a6d04e1f.jpg)

[2021-07-03 13:31] karnaukhm commented on #245
same thing for me 3.0.10.
Looks like nginx config still tries to reach php 8 socket instead of selected php version

[2021-07-05 07:46] John-S4 opened #261 "Login to panel as site user but not administrator?"
When you create a new site then a new SSH / SFTP user and a new database user is created, which is great and as it should be.

It would also make sense and be really useful though if a new user was created also in the panel, so that someone can log in and administer one site without having access to all sites and the panel admin settings.

Does it do this already and I am missing it somewhere or i

[2021-07-05 07:50] John-S4 opened #262 "SSH login by key"
Since Cipi removes the default root user on the server and creates a new one, it would be a big plus to have the option to log in as the new 'root' user by SSH key instead of password.

By default I set all servers to use only keys for root login, but Cipi deletes that possibility and reverts me back to using a password.

[2021-07-05 15:22] gerryweb commented on #108
Is there a way to be able to carry out the suggestions already in the panel?
edit PHP settings like:
php_admin_value[display_errors] = "off"
php_admin_value[log_errors] = "On"
php_admin_value[mail.add_x_header] = "On"
php_admin_value[max_execution_time] = "120"
php_admin_value[max_input_vars] = "10000"
php_admin_value[memory_limit] = "512M"
php_admin_value[opcache.blacklist_filename] = "/opt/opcac

[2021-07-05 15:26] gerryweb opened #263 "How do I edit the PHP configuration on a specific site?"
edit PHP settings like:
php_admin_value[display_errors] = "off"
php_admin_value[log_errors] = "On"
php_admin_value[mail.add_x_header] = "On"
php_admin_value[max_execution_time] = "120"
php_admin_value[max_input_vars] = "10000"
php_admin_value[memory_limit] = "512M"
php_admin_value[opcache.blacklist_filename] = "/opt/opcache-blacklists/opcache-*.blacklist"
php_admin_value[opcache.max_accelerated_fi

[2021-07-05 15:28] gerryweb commented on #260
In the Oracle instances you have to enable the permissions also in the firewall and with that it is solved

[2021-07-05 15:28] #260 closed

[2021-07-06 21:12] osidney commented on #259
Strange is that all servers I work port 443 by default is open!

[2021-07-11 07:04] netwebvn opened #264 "backup site vps"
Hi! i found this to be a very good control panel, hope to have more features like automatic backup of all my websites and the option to save the number of backup files, like the last 3 to 5 files! Thanks the author!

[2021-07-19 19:35] magix01 commented on #264
There is rest api available, you can make those featured.

@andreapollastri
No new commits for 3 months? Do you plan any update to cipi?

Regards

[2021-07-19 22:39] andreapollastri commented on #264
Hi! Backup feature is under construction. I will update repo in September 2021 with new features and bug fix.

The project is alive and I'am working on an optimized 3 version.

[2021-07-19 22:40] andreapollastri commented on #263
Hi this feature will be available in next release (September 2021)

[2021-07-19 22:41] andreapollastri commented on #262
Hi, SSH key are not (and will be not) supported by Cipi. Sorry.

[2021-07-19 22:42] andreapollastri commented on #261
Hi, Thank You for the issue! I'll notice this "nice to have" for next releases.

[2021-08-18 07:42] netwebvn commented on #264
i really like laravel and having full rest api will be really helpful for developers to make the console more widely available!

[2021-08-18 07:43] netwebvn commented on #264
Thank the author very much! Looking forward to your new update will add this feature!

[2021-08-23 16:33] stevendbrady opened #265 "Reset admin password?"
How can I go about changing the control panel's admin password from SSH? I do have access to the MySQL password.

[2021-08-23 18:24] bhhenry opened #266 "Alias on Wrong Site"
Clean install of cipi 3.0.10 on Ubuntu 20.04 on Digital Ocean.

I set up one site as example1.com and add alias www.example1.com -- works fine.

I set up a second site as example2.com and then add alias www.example2.com to it. Problem is that www.example2.com is added to example1.com site instead of example2 site where it should be.

Thanks for your efforts :-)

[2021-08-24 20:16] stevendbrady opened #267 "Installer should make sure snapd is installed"
My Contabo VPS did not have snapd installed, so certbot was not getting installed when I set up Cipi. I installed ubuntu-server, as I wasn't certain it was the only necessary package missing, which installed snapd, and it fixed my issues.

[2021-08-25 07:18] magix01 opened #268 "Make node.js optional"
Hi,

could you make installing node.js optional on servers with an installation prompt, since this is mostly php panel alot of users i guess never use node.js, i for instance remove it on each cipi install.

Thanks

[2021-09-02 16:44] dij0990 opened #269 "Changing the main domain of the site caused an error"
Hello.
Thank you for such a great app!

I ran into a problem, when I tried to change the main domain on the slave server, the domain changed on another one. This is strange, but as it is.

I created a new subdomain in digitalocean and tried to install it, however, it does not change it...

I temporarily changed the settings in nginx, however, they will most likely be reset at the next update.

how

[2021-09-10 13:52] magix01 commented on #266
Yeah i can confirm, same thing happening to me, added about 10 sites, and for each site i create alias it adds to the one "second site".

[2021-09-10 13:59] magix01 commented on #249
You get can http3 support with cloudflare proxy to your domain temporary while the features becomes integrated in cipi i guess?

[2021-09-26 22:03] josephasmith1 opened #270 "New Install - Stuck at 'wait'"
Installed on Ubuntu 20.04 fresh updated install. I can access the panel, but 404 errors to fa-icons and the server screen just stays on "wait". I can't add sites. Under ip is just says cipiip and the details printed at the end of install do not contain an ip address(not sure if this is related).

![image](https://user-images.githubusercontent.com/6611890/134825688-5e51b548-7bf5-4ea3-8d0f-d17b39bcb

[2021-11-05 10:32] HomaEEE commented on #266
Hello, who can have fix for this? or where to look?

[2021-11-08 19:48] andreapollastri commented on #270
Uhm... thank you for the issue and sorry for the late reply... I'll check it soon!!! It seems like your Supervisord jobs don't work!

[2021-11-08 19:49] andreapollastri commented on #269
Hi... thank you for the issue and sorry for the late reply! you have to change it in DB and nginx configs... I'll check this issue!

[2021-11-08 19:50] andreapollastri commented on #268
Hi... thank you for the issue and sorry for the late reply! No! Node is useful for NPM and modern SPA based frontend ... it comes within Cipi stack! Sorry!

[2021-11-08 19:50] #268 closed

[2021-11-08 19:50] andreapollastri commented on #267
Hi... thank you for the issue and sorry for the late reply! I'll try Contabo VPS!

[2021-11-08 19:50] #267 closed

[2021-11-08 19:52] andreapollastri commented on #265
You have to update the bycrypt econded password field in the record ID 1 of users table into db.

[2021-11-08 19:52] #265 closed

[2021-11-08 19:53] andreapollastri commented on #266
Hi... Sorry for the late reply... I'll check it soon... Thank You for the issue!

[2021-11-08 19:55] andreapollastri commented on #264
Hi, sorry for the late reply! The panel is still alive but I was very busy with my business work. Now I can return to work on Cipi in my free time! I'll fix all issues in a next 3 version and I'm working on a Laravel 9 porting for the next release... sorry for the late... I hope to solve everything soon and that you will love new Cipi version!

[2021-11-15 14:17] LemarinelNet commented on #195
Hi,
Still got the problem on 3.10.0,
I just created a new site, published contents inside it, changed base path, but nginx conf files still show "/web" path, not using the base path attribute appendix !!

[2021-11-16 17:56] sertacdemirtas opened #271 "phpMyAdmin"
Hey,

First of all keep up the good work cipi is awsome!
It would be great if we can access phpMyAdmin through cipi.
Can you integrate phpMyAdmin in future versions ?

Best regards.

[2021-11-17 07:28] patricktan98 opened #272 "Access Denied When execute sh deploy.sh in terminal"
Hi contributors,

I am testing cipi panel and come across below error when attempting to deploy the code from Git Repository by using generated site user account.
![image](https://user-images.githubusercontent.com/50147719/142155329-e500321d-ab96-4892-ab99-5598fa751bbe.png)

Thanks.

[2021-11-18 09:44] magix01 commented on #271
It was in version 2x but removed intentionally, you can just download phpmyadmin and access it from your domain.

[2021-12-01 10:55] LemarinelNet commented on #262
SSH keys are way more secure than password.
I manually set them on every site I setup, and I agree that would be a big plus

[2021-12-01 11:12] LemarinelNet opened #273 "Alias points to wrong basepath"
Steps to reproduce :
I created a site.
Then I added an alias.
Then, I updated the basepath : The "/etc/nginx/sites-enabled/cpxxxxxx.conf" is correct. But the alias is not updated, and still points to the previous basepath.

[2021-12-08 21:40] andreapollastri commented on #273
I'm checking it! I hope to solve it definitely soon!

[2021-12-08 21:41] andreapollastri commented on #272
Did you update your Cipi SSH into Gitgub?

[2021-12-08 21:41] andreapollastri commented on #272
PS... you don't have to use sudo to deploy!

[2021-12-08 21:43] andreapollastri commented on #271
Hi! No, phpmyadmin is not still installed by default. Sorry. Use Table Plus or Sequel PRO... or install phpmyadmin by yourself. It is not secure in production servers!

[2021-12-09 12:22] andreapollastri commented on #273
Hi, a new version has been released... check after the autoupdate (on version 3.1.0) and let me know! Thank You for the issue!

[2021-12-09 12:22] #273 closed

[2021-12-09 12:22] #271 closed

[2021-12-09 12:23] andreapollastri commented on #272
I checked and it works... follow the guide and let me know! Thank You

[2021-12-09 12:23] #272 closed

[2021-12-09 12:23] andreapollastri commented on #266
It has been solved on today release! It will autoupdate your server this night... let me know if it's OK!

[2021-12-09 12:23] #266 closed

[2021-12-09 12:24] andreapollastri commented on #270
I checked the system and it works! I can't replicate the error... are you sure are you working on a real public IP?

[2021-12-09 12:25] andreapollastri commented on #269
Hi... I solved this issue... your Cipi will be auto update its self this night! Sorry for the issue!

[2021-12-09 12:25] #269 closed

[2021-12-09 12:26] andreapollastri commented on #263
It will be included in version 4 (may 2022... sorry for the late)

[2021-12-09 12:26] #263 closed

[2021-12-09 12:26] andreapollastri commented on #264
It will be included definitely in next version (may 2022)

[2021-12-09 12:26] #264 closed

[2021-12-09 12:27] andreapollastri commented on #262
Hi! You are right but this feature will not be implemented in Cipi, sorry!

[2021-12-09 12:27] #262 closed

[2021-12-09 12:27] #261 closed

[2021-12-09 12:27] LemarinelNet commented on #262
May I help if I provide a PR ?

[2021-12-09 12:28] andreapollastri commented on #259
Hi... a new version has been released within a fix for this and other issues! Sorry for the late

[2021-12-09 12:28] #259 closed

[2021-12-09 12:28] #254 closed

[2021-12-09 12:28] #251 closed

[2021-12-09 12:29] #249 closed

[2021-12-09 12:29] andreapollastri commented on #248
Hi... a new version has been released within a fix for this and other issues! Sorry for the late

[2021-12-09 12:29] #248 closed

[2021-12-09 12:29] andreapollastri commented on #245
Hi... a new version has been released within a fix for this and other issues! Sorry for the late

[2021-12-09 12:29] #245 closed

[2021-12-09 12:30] #243 closed

[2021-12-09 12:30] #193 closed

[2021-12-10 09:00] Donniewr commented on #270
I'm getting the same issue, unable to use Cipi on my dedicated server. (Fresh Ubuntu 20.04)

I can give you my server details to check what's going on.

[2021-12-10 09:04] Donniewr commented on #270
When I installed Cipi the last version was 3.0.10, my panel was updated to 3.1.0 last night but I still can't manage my server.

[2021-12-10 09:16] andreapollastri commented on #270
Hi @Donniewr and @josephasmith1!
The Cipi installation script is very "stupid" and during installation process, it will replace "CIPIIP" with your real IP in laravel default DB seeders:
https://github.com/andreapollastri/cipi/blob/4148fa1f650234718daf78110045157986c2d8dc/database/seeders/DatabaseSeeder.php (line 31)

This operation is done into go.sh script:
https://github.com/andreapollastri/cipi

[2021-12-10 09:18] andreapollastri commented on #273
Version 3.1.1 is the best solution for this issue... not 3.1.0! let me know if it is solved! Thank You

[2021-12-10 09:21] andreapollastri commented on #262
Hi @LemarinelNet ... Thank You for the idea, I think that Cipi has to be "simple" for major users. I agree with you about security issue of password but SSH Keys is not so easy for base user.
So I think that is better to leave password mode and I suggest to you to use your VPS provider Firewall to limit the 22 port to your trusted IPs.

In the meanwhile I plan an optional mode for SSH Key in versi

[2021-12-10 09:22] Noaber commented on #270
Maybe it is an idea to manually update the IP in the panel when you see that your IP is still CIPIIP instead of loggin into the MySQL database ?

[2021-12-10 09:24] andreapollastri commented on #270
Good Idea! I'll update it ;)

[2021-12-10 09:24] #270 closed

[2021-12-10 09:25] LemarinelNet commented on #262
Using a ssh key doesn't mean you have to remove/forbid password login.
You can still login using a password even having an SSH key set.
I don't even think it will make the app "more complex" or less simple. Users who doesn't want to use SSH key will still have a password set, and those who want to set a ssh key (I use them for [deployer](https://deployer.org/), my favorite deploy solution...) will

[2021-12-10 16:22] MangalM5 opened #309 "Nginx Failed to start after requesting SSL on ARM Server"
Hi, I have installed Cipi Control panel on Oracle ARM Server and everything works perfectly.
But, when I request SSL for Domain The Control panel and website refused to connect and I found that Nginx is Failing to start.
So, I manually started NGINX, and everything works.

But every time I request and most of the time NGINX failed to start. I also tried reinstalling CIPIpanel on the fresh server t

[2021-12-10 16:33] Donniewr commented on #270
Thanks for the fix, it works. I'm using Nforce.com dedicated servers.

It is possible in the last version to update the IP in the panel if we see CIPIP or it is not implemented yet?

[2021-12-10 16:33] andreapollastri commented on #309
Hi! Thank You for the issue. I'm sorry about the problem. I have to investigate it... can you send me your output of this command?

cat /usr/lib/systemd/system/user@.service

I need to know if [Service] object contains "StartLimitBurst=0"

Let me know! Thank You
Andrea

[2021-12-10 16:40] andreapollastri commented on #309
Try to add:

Restart=always
RestartSec=3s

at the end of the file and let me know if it works! Sorry for this debug asking! ;)

[2021-12-10 16:49] MangalM5 commented on #309
![Screen Shot 2021-12-10 at 10 16 42 PM](https://user-images.githubusercontent.com/68841832/145610599-c6e5e811-324b-49f6-886d-540213a3b89a.png)

Added above 2 lines but didn't Work. Still the same problem.

[2021-12-10 16:51] andreapollastri commented on #309
Ok! Let me check! I'll response when I'll find a solution!

[2021-12-10 16:56] MangalM5 commented on #309
Ok Sir, Thank You very much for your precious time.

[2021-12-10 17:01] MangalM5 commented on #309
I don't know but this may help should I try these solutions in the issue.
https://github.com/serghey-rodin/vesta/issues/1874

[2021-12-10 17:55] andreapollastri commented on #309
HI! I did several fixes but I can try it only on Digital Ocean and AWS today... check a fresh installation of Cipi new version: 3.1.7 on your VPS and let me know if it's solved... if not I can suppose that is a limit of the provider that we can't override!!!

[2021-12-11 00:27] elpadua opened #314 "multiple servers and replication"
The function of adding multiple servers could be improved, to also add replication, which if I have a website that is heavy, with simple configurations, make the website replicate, or when creating a new website, instead of select a single server to host it, select replication, and that the website is distributed in all my linked servers, of course, the databases would be on a fixed server

[2021-12-11 00:28] elpadua commented on #314
that allows to create a platform, that replicates the websites in my entire network of linked servers, and that if it can also distribute the load, with an integrated load balancer

[2021-12-11 00:29] elpadua commented on #314
on the subject of databases, also allow to link mysql servers like a normal server, and create databases from cipi

[2021-12-11 02:51] MangalM5 commented on #309
Hi.
It worked 2 times but 3rd time I requested SSL the Nginx status show failed.
But the Website & Panel keeps working but Nginx status shows Failed and Nginx start command gives error.
Tried nginx restart it failed too.

This time we are getting a different error.

I have rebooted a System and Now Nginx shows Active.

![Screen Shot 2021-12-11 at 8 18 13 AM](https://user-images.githubusercontent.c

[2021-12-11 02:56] MangalM5 commented on #309
Now It's working I don't know above was actually a problem or not. I requested SSL 3 Times and every time NGINX started and is Active.

But in the above error, Ngixt was working but showing Failed in status.

[2021-12-11 07:39] Donniewr opened #315 "Error installing Wordpress"
Hello,

I'm not sure why but I can't install Wordpress anymore.

"There has been a critical error on this website." While submitting database informations.

Fresh Cipi test install on Linode server.

 thrown in /home/cp8e9a36c79/web/public/wp-includes/wp-db.php on line 2056" while reading response header from upstream, client: 0000, server: test.>
2021/12/11 07:14:01 [crit] 74319#74319: *10 connec

[2021-12-11 08:46] Donniewr commented on #315
It works with PHP 8.0 but not 8.1.

Maybe Wordpress is not compatible with 8.1 yet or a bug in Cipi?

[2021-12-11 08:59] andreapollastri commented on #315
Hi! Thank You for the issue. I don't know how WP works and I don't use WP but I can say that I'm working within Laravel 8 on PHP 8.1 and MySql 8 managed by Cipi Control Panel without any error! So I think that it's a WP issue, PHP 8.1 is 15-20 days old! I'm happy that you solved with PHP 8.0. Now I'll try to install a brand new WP just for fun and make some check!

[2021-12-11 08:59] #315 closed

[2021-12-11 09:18] andreapollastri commented on #315
Hi! I did a fast check: https://wp.cipi.dev/ and I confirm that WP, in my opinion, is not full compatible with PHP 8.1 yet! It runs on PHP 7.4 and PHP 8.0 (not 8.1)

[2021-12-11 09:27] Donniewr commented on #315
Thanks, I will use 8.0 for now.

8.1 is causing fatal error during the WP installation only.

[2021-12-11 10:48] andreapollastri commented on #309
Perfect ;)

[2021-12-11 10:48] #309 closed

[2021-12-11 13:02] MangalM5 commented on #309
Please take a look at this if you can understand why it could have been caused after generating SSL. Nginx was working but showing failed is status comment and could not accept restart, start or stop command.

Thank You

[2021-12-12 09:26] neo22s opened #326 "502 Bad Gateway - Changing PHP version"
Hello,

When I change the PHP version of any app to lower than 8.1 I get 502 Bad Gateway.

This is a big problem since WP in 8.1 gives lot of problems.

Seems related to:
https://github.com/andreapollastri/cipi/issues/245

CIPI version 3.1.10

[2021-12-12 21:49] andreapollastri commented on #326
Hi! If you try to use WP within PHP 8.1 it goes in 502 so, to fix it now you have to:
- change your PHP version to 8.0 or 7.4
- restart PHP and nginx service into server area (or reboot your VPS)
- last step... NEVER USE WP WITH PHP 8.1 YET... IT'S NOT READY!

Let me know if it's solved!

[2021-12-12 21:49] #326 closed

[2021-12-12 21:51] andreapollastri commented on #314
Hi! Thank You for the idea... I'll evaluate it for the next version.
Currently, I can say that it's very complex so... it's a good idea but I don't think that I will realize it... Cipi has to be a simple panel for simple projects!

[2021-12-12 21:51] #314 closed

[2021-12-12 21:55] elpadua commented on #314
It would be great to customize cipi using some plugin system, and maybe it
would lead to this idea, opening the way to many features and
customizations.

El dom., 12 de diciembre de 2021 4:51 p. m., Andrea Pollastri <
***@***.***> escribió:

[2021-12-12 22:10] neo22s commented on #326
The problem here is that I have tried to use it also with phpmyadmin and
some custom code and still did not work.

I love the work you are doing. Hopefully soon I can help a bit in the
project. In the meantime I need to use for production another panel. But I
will be keeping an eye on this project 🙏🙏😍

On Sun, Dec 12, 2021, 22:49 Andrea Pollastri ***@***.***>
wrote:

[2021-12-12 22:12] andreapollastri commented on #326
Hi! I'm really sorry about this issue... can you give me more information about the error log of your applications?
If you want send me them here or to hello@cipi.sh without any "personal data" so I can understand what happens with your code on my configuration! Thank You for the issue! ;)

[2021-12-12 22:26] andreapollastri commented on #326
PS: I'm trying phpmyadmin on PHP 8.1 and it works fine also within huge SQL dumps import!
https://pma.demo-main.cipi.app/

[2021-12-12 22:40] andreapollastri commented on #326
PS2: no issues with a brand new WP 5.8.2 installation on PHP 8.0: https://wp.demo-main.cipi.app/ (issues on PHP 8.1).
I don't use WP but currently I have four Laravel 8 projects in production on CIPI and PHP 8.1 and I have not any problem.
Please, if you want, help me to improve Cipi with your errors log / info about the code you are running on it!

Thank You
Andrea

[2021-12-13 06:21] neo22s commented on #326
Hello,

Maybe I am not explaining hehe

With a clean installation works good. But when you change to a different
php version then you get the error. It's the same as reported in the issue
I have linked in the description ;)

On Sun, Dec 12, 2021, 23:40 Andrea Pollastri ***@***.***>
wrote:

[2021-12-13 09:44] xerudro opened #327 "Not accessible"
I have installed the Cipi Panel on a Oracle Cloud free tier Ubuntu 20.04 virtual server, all good, at the end of the installation i got the ip-adress the usernames and passwords, i added firewall rules to ports 80,22 and 443, but still unable to access the panel ... any other ports needs to be open to can be able to access it ?The VM is using ARM processors...

[2021-12-13 12:07] andreapollastri commented on #326
Hi! Thank You for the feedback. I did a check and you are right! I fixed PHP switch in version 3.1.11... if you have an active Cipi server it will be update tonight, if you make a brand new installation it comes with new version!
If you want check this new version and let me know if this issue is solved. Thank You!

[2021-12-13 12:09] andreapollastri commented on #327
Hi! Cipi is tested on Digital Ocean, AWS, Vultr, Contabo and many other providers... I'm receiving many issues from Oracle VPS users and currently, I can say that Cipi is not compatible with them yet for Oracle configuration that is different from other providers config. So I will check Cipi in Oracle env in next days and I'll update this issue. Sorry for the incovenience.

[2021-12-13 12:09] #327 closed

[2021-12-13 12:10] andreapollastri commented on #244
Hi! Sorry for the late but I just release v3.1.11 that solves this issue. Bye. Andrea

[2021-12-13 12:19] andreapollastri commented on #326
PS: to see the fix... you have to recreate any current 502 bugged site on new Cipi version! Sorry!

[2021-12-13 13:58] neo22s commented on #326
Thanks a lot! I will try next week's I guess I had to do a migration. And I
ended up using runcloud... I was on a hurry.

I love this project and I have many ideas hehehe hopefully I will have some
time to share with you. Again congrats

On Mon, Dec 13, 2021, 13:20 Andrea Pollastri ***@***.***>
wrote:

[2021-12-13 19:35] andreapollastri commented on #326
Thank You! ;)

[2021-12-15 10:28] Donniewr opened #330 "New sites directory not created."
Hello,

I installed Cipi on my clean Ubuntu 20.04 server, after the installation I could not manage the server but changing the IP in the database worked.

https://github.com/andreapollastri/cipi/issues/270#issuecomment-990763402

But when I create a new site, the website is created on the panel but no directory/users is created on the server.

My domain is showing "This domain/subdomain is not co

[2021-12-15 13:43] Donniewr commented on #330
I'm now getting errors on my panel after I changed the root cipi user password.

![Screenshot 2021-12-15 144311](https://user-images.githubusercontent.com/95908882/146197353-bd273b57-87d2-4e05-80f7-21d21fdbf0f9.jpg)
![Screenshot 2021-12-15 144051](https://user-images.githubusercontent.com/95908882/146197057-ea97f1db-075a-43e7-86ef-c3371761aa64.jpg)

[2021-12-16 11:58] Donniewr commented on #330
I found the issue, it happen when the server is missing dependencies.

To fix this we have to run this command before installing Cipi.

apt-get -y install software-properties-common curl wget nano vim rpl sed zip unzip openssl expect dirmngr apt-transport-https lsb-release ca-certificates dnsutils dos2unix zsh htop ffmpeg

I think CIPI is trying to use Curl during the installation but it was not i

[2021-12-16 17:12] LemarinelNet commented on #108
That features seems really important today.
Google gives bad scores to websites not having HTTPS, but even more, as a visitor, when hitting on "www.mysite.com" and seeing "this website is not secured" is frightening...
Being redirect is a MUST !

[2021-12-16 22:50] cynicalsam commented on #330
I am having the same issue. Curl isn't installed by default in the image on my VPS. This means the $IP variable isn't being filled in.  Installing Curl before running the install script resolves the issue. May be worth adding a check for Curl at the top of the install script so prevent this happening in future

[2021-12-16 23:07] andreapollastri commented on #330
Hello! Thank You for this issue and Thank You @Donniewr for the investigation! The issue has been solved in v3.1.13 (released some minutes agos). I'm really sorry for the inconvenience... Let me know if it works! Best. Andrea

[2021-12-16 23:07] #330 closed

[2021-12-16 23:18] cynicalsam commented on #330
Yep works perfectly!

Thanks for the swift fix

[2021-12-17 21:50] Donniewr opened #337 "Root login after Cipi installation"
Hi,

Is it possible to allow root login after installation? The default cipi user don't have enough power for me. I can't access backups from automysqlbackup and can't download logs files using Filezilla. it's frustrating.

[2021-12-18 09:23] andreapollastri commented on #337
Hi! Cipi disables by default root login so you cannot SSH into your server using:

`ssh root@YOUR-IP`

but you have to use:

`ssh cipi@YOUR-IP `

than: `su root` or `sudo commands` (cipi is a sudoer)

anyway if you need to restore root login you can login into SSH as "cipi" and run:

[code]

Let me know if it's solved!
Best

Andrea

[2021-12-18 10:31] #337 closed

[2021-12-18 10:34] andreapollastri commented on #258
Hi, really sorry for the late reply...
try to SSH into your VPS as "cipi" and run:

[code]

Let me knwo

[2021-12-18 10:34] #258 closed

[2021-12-18 11:15] Donniewr commented on #337
Thanks! This is is so much better for me to use root instead of sudo/changing permissions.

[2021-12-19 14:53] Donniewr opened #341 "Cron jobs can't be removed."
Hello,

I have added a cron job using the panel but it can't be removed, when you remove it and reload the page the cron job is still present.

I even tried root crontab -e and It re-appear every time.

Thanks,

[2021-12-19 14:57] andreapollastri commented on #341
Hi @Donniewr! You are right... if you delete everything in "cron editor", the patch API doesn't update your server so you have to leave at list a blank space. Thankyou for the issue, I'll fix it in next versions. Let me know if with a white space it works! Best, Andrea

[2021-12-19 14:57] #341 closed

[2021-12-19 15:04] Donniewr commented on #341
Yes it works, I just added a random number. It updated.

Thanks,

[2021-12-20 23:44] punyflash opened #342 "WebScokets support"
Would be nice to have ability to add WebSockets servers such as [Soketi](https://github.com/soketi/soketi), which basically a self-hosted Pusher protocol. Their API seems to be well scalable and may be nicely integrated in control panel ecosystem. For now, I host it as a separate docker image on my server.

Love your product by the way, saved weeks of work for me <3

[2021-12-21 07:15] andreapollastri commented on #342
Hi, Thank You for the idea... currently it's not in the roadmap but I'll evaluate it for the next versions and if it's useful and simple to manage I'll integrate a WebSockets feature. Best. Andrea

[2021-12-21 07:15] #342 closed

[2021-12-21 09:39] magix01 opened #343 "Installer apt-get issue"
Hi Andrea,

I have noticed this strange issue when installing cipi on newly initialized servers, some providers on server init first run do the apt-get update/upgrade and the process is running in background, if the process is still in background when you init cipi install, the install will go through but fail in background (apt-get process locked), in panel the server is there, however nginx, sql

[2021-12-21 09:39] kambhat opened #344 "Cant reach server"
When changing panel URL from dashboard now i can't access panel

[2021-12-21 19:01] andreapollastri commented on #344
Hi! Can you give me more detail... I don't have similar issues and I can't help you. Direct IP is working?

[2021-12-21 19:02] andreapollastri commented on #343
Hi! Thank You for the issue... what provider are you using? I never found this problem and I have to replicate it!

[2021-12-21 21:51] Donniewr opened #345 "Database & SSH username."
Hello,

In the 3.1.8 release note it said "Configurable users and db/path naming prefix"

How can we use this? I'm using cipi to manage multiple websites and it can be confusing because all the users details looks the same. It would be a nice improvement if we could choose the Database name/users and also the username of the SSH user. Maybe the SSH user should be the name of the site without the d

[2021-12-21 22:02] magix01 commented on #343
Try vsys.host and shinjiru, regards

[2021-12-23 07:17] andreapollastri commented on #345
Hi, you are talking about the "User Prefix" feature that has been implemented into app/cipi.php config (https://github.com/andreapollastri/cipi/blob/master/config/cipi.php).
Adding `CIPI_USERS_PREFIX=your-prefix` into .env file and running `php artisan config:cache`, you can change the global user prefix from cp to your-prefix. So, this is not helpful to your needs but it was required from some pr

[2021-12-23 07:17] #345 closed

[2021-12-23 07:17] #344 closed

[2021-12-23 07:21] andreapollastri commented on #343
Hi @magix01, I'm really sorry but I think that the required providers have custom repositories about Ubuntu and its vendor so I could not change the installer in that way because it may break installation process in major providers (aws, digital ocean, etc...). I'm sorry!

[2021-12-23 07:21] #343 closed

[2021-12-23 07:49] magix01 commented on #343
I dont think its custom repo, they just run apt-get upgrade on first init to update their old distro packages on the image they put.

[2021-12-23 13:58] MangalM5 opened #346 "Deleting Alias not working neither Domain Change in Basic Information"
Hi,
I am on the latest version 3.1.14 and using Oracle ARM Server.
Everything was working fine.
But I just added non www domain alias and issued an SSL certificate but SSL was not issued for the alias domain and now when I tried to delete the alias is says loading progress but does not delete the alias. I also tried editing the domain name in Basic Information but it keeps the same domain after re

[2021-12-23 14:21] Donniewr commented on #346
There are issues with Oracle/ARM servers currently.

https://github.com/andreapollastri/cipi#installation-note

[2021-12-24 05:07] minkbear commented on #244
@andreapollastri Is that possible to use logrotate package (https://logtail.com/tutorials/how-to-manage-log-files-with-logrotate-on-ubuntu-20-04)

[2021-12-25 22:49] andreapollastri commented on #346
Hi! Unfortunately, Cipi has several issues on Oracle ARM. It works fine on AWS, Digital Ocean, Vultr and many other Providers! Sorry for the issue... I'm working to Oracle VPSs support!

[2021-12-25 22:49] #346 closed

[2021-12-26 14:41] Donniewr opened #347 "My panel stopped working after few days."
Hello,

My panel was working perfectly but now creating new sites no longer works. When I create a site on the panel nothing is created on the server.

What is causing this issue? I have not done anything on the server. I just rebooted it.

[2021-12-26 16:04] Donniewr commented on #347
I have found the issue, this is because of wrong permissions.

The directory in /var/www/html changed it's permission to www-data:www-data instead of the default www-data:cipi.

I have run this command and rebooted my server to fix the issue: sudo chown -R www-data:cipi /var/www/html

I think it might be a bug in Cipi.

[2021-12-26 16:19] andreapollastri commented on #347
Hi @Donniewr , Thank You for the issue... you are right. I fixed it in Version 3.1.15 and it will be auto-installed on your server tonight via cron job. Let me know if you will have future similar issues. Thank You. Andrea

[2021-12-26 16:19] #347 closed

[2021-12-27 06:51] MangalM5 commented on #346
Thanks..

[2022-01-01 06:24] mucan54 opened #351 "Can not access my github repo"
When I run this codes manually it works :

[code]

but when I try to use it with

[code]

it doesnt work. I have 2 sites with same repo on different branches. Deploy script works for my other site which is on main branch, but it doesnt work for staging branch.

[2022-01-01 11:20] mucan54 commented on #347
This error happens for me again.

[2022-01-01 11:33] mucan54 commented on #347
I changed ssh cp user password manually, so it cannot do anything, how I can fix.

[2022-01-01 11:35] mucan54 commented on #347
I fixed, with generating new password from panel, and then updating current cipi user's password with the generated one.

[2022-01-02 02:10] ausittechdirect opened #353 "Error: Timed out while waiting for handshake SSH to Sites"
I am having issues with SSH to sites.

Ever time I try to access I get the above error.

Tried restarting the Server but no luck.

[2022-01-02 02:12] ausittechdirect opened #354 "Is it possible to edit the Holding page and User credentials PDF Branding"
Wondering is it is possible to remove the CIPI branding from these pages.

[2022-01-02 07:29] andreapollastri commented on #351
Hi! I can't replicate the issue... I tried to follow Cipi Docs steps to configure GitHub repositories into sites and it works.
Why did you run the first part of commands related to ssh key?

I have tried several time and in different server this function and I haven't any issues!

[2022-01-02 07:29] #351 closed

[2022-01-02 07:30] andreapollastri commented on #353
Hi! What OS and SSH/sftp client Are you using?

[2022-01-02 07:34] andreapollastri commented on #354
Hi! If you need to do it... you can login into ssh as "cipi" and edit this file: /var/www/html/resources/views/pdf.blade.php.

Than:

cd /var/www/html

And:

php artisan view:cache

Best,
Andrea

[2022-01-02 07:34] #354 closed

[2022-01-02 07:53] ausittechdirect commented on #353
Hi!

Ubuntu 20.04 and tried Filezilla and Codeanyware

[2022-01-02 07:58] andreapollastri commented on #353
Ok! I can say that I have no error on filezilla using port 22 and a sftp connection!

Check the ssh key paring of your host into your computer, check any timeout setting into your local ssh2 configuration and check if your vps / provider applies any firewall rule on port 22.

I’m using Cipi on different server and I never had SSH connection issues. I think that your case is a client issue, not ser

[2022-01-02 07:58] #353 closed

[2022-01-05 11:35] ausittechdirect opened #355 "SSL Certificates not generating"
I have a new site that I have clicked on Generate SSL but it still is showing as insecure.

The Certificate is showing that it is using the one of the main hostname not the domain of the site?

[2022-01-05 11:45] ausittechdirect commented on #355
Sorry Restarted the server and it started working

[2022-01-05 11:45] #355 closed

[2022-01-05 14:08] ausittechdirect opened #356 "SSH login not locking users to parent directory."
Logging in with SFTP site credentials allowing browsing up to higher level folders.

[2022-01-05 20:29] WorksDev opened #359 "Alias Domain SSL Config goes into default conf"
If I assign an alias to a domain and request an SSL certificate for all domains, the SSL configuration is written to the default config - where it potentially does not belong. Also, technically speaking, no further configuration should be created for the alias, but only the server_name of the original domain should be extended.

[2022-01-05 20:36] andreapollastri commented on #356
Yes, as cpanel and other panels done in system dirs but you can't see other users files (in home) or edit anything outside your user dir! Anyway, thank you for the issue. I'll improve this topic!

[2022-01-05 20:36] #356 closed

[2022-01-05 20:39] andreapollastri commented on #359
Sorry but I can not follow you!
Any alias has its nginx config with its SSL cert... there are no issue in aliases and SSLs. Best. Andrea

[2022-01-05 20:39] #359 closed

[2022-01-05 20:46] WorksDev commented on #359
Ok to make it clear:
- i created a domain -> fubar.com
- requested ssl cert
- added new alias www.fubar.com
- requested ssl cert

Expected in my Opinion:
- alias www.fubar.com is in configuration of fubar.com or in different single configuration as u said - ssl configuration also

What happens on my side:
- symlink of fubar.com in sites-enabled is deleted, file with ssl content is created
- no sep

[2022-01-05 20:48] andreapollastri commented on #359
Ok thank you for the detail! I'll check this flow and I'll update this issue in next days!

[2022-01-09 11:01] fatihalp opened #360 "Servers -> Restart Nginx is not working"
I worked nginx vhosts for hours then I realase that nginx restart is not working from server panel. Manually running "sudo systemctl restart nginx.service" is working from ssh.

[2022-01-09 11:46] fatihalp commented on #360
Also thanks for this wonderfull project @andreapollastri

[2022-01-09 11:48] andreapollastri commented on #360
Hi! I checked it and it seems work! How do you recognize that it doesn't work from panel? I have to rebuild the issue to find a solution!

[2022-01-09 19:30] jtoland opened #361 "Default Nginx Config"
Hello,

First of all, this is a really useful project and already set it up on 3 servers so i can test it fully.

But I was wondering if there was a way to update the default Nginx config as the default config you provide is a bit bare.

If this is a thing i would love to know where it is.

Kind Regards,
Jason

[2022-01-09 19:36] andreapollastri commented on #361
Hi, Thank You for the issue!
You can customize every Site nginx configuration using cipi root user:
- Run ssh cipi@<server-ip>
- Run `sudo nano /etc/nginx/cipi/<app-user>.conf`
- Edit your custom configuration
- Run `sudo systemctl restart nginx.service`

This is a "safe" method documented here: https://cipi.sh/docs.html.
Anyway, you can also manually edit the main nginx file into your server.

Al

[2022-01-09 21:37] jtoland commented on #361
Hello Andrea,

Thank you for providing me with an update on this and providing the location.

I usually deploy WordPress sites with the following config but as a feature it would be nice to be able to create my own and then use that to push to certain sites.

`server {
   listen 80;
   root /var/www/vhosts/example.com/http;
   index index.php   index.html index.htm index.nginx-debian.html;
   serv

[2022-01-10 12:23] fatihalp commented on #360
I've changed vhosts many times and didn't reflected to system

[2022-01-10 12:24] fatihalp commented on #360
How you testing yourself?

[2022-01-10 12:40] andreapollastri commented on #361
Hi! I have examinated your configuration and it is very customized on your own needs so I can't put it into the project but you can manually edit your nginx configs via SSH (use cipi user to login).

The configurations are in:
/etc/nginx/site-availables
/etc/nginx/site-enables

Than you have to restart nginx service.

Best
Andrea

[2022-01-10 12:40] #361 closed

[2022-01-10 13:48] fatihalp commented on #360
Maybe my bad @andreapollastri thanks a lot I'm gonna try again.

I'm thinking backup and migration from x features to move cipi entirely. Using CWP in several server. It's not stable after 5 years.

I think you have plans to do that. Is it possible to develop modules?

[2022-01-10 14:14] #360 closed

[2022-01-10 15:33] xerudro commented on #327
Hey Andreapollastri/Cipi, any updates on this? Have you developed a variant
that might work on Oracle Cloud ARM processors ?

On Mon, Dec 13, 2021 at 2:10 PM Andrea Pollastri ***@***.***>
wrote:

--
An VeRy LonLey And SaD SouL

[2022-01-10 16:22] monkeyhostit commented on #327
Hi! I checked it! It’s a Oracle Cloud Network issue! By default they open just port 22 but you have to open also 80 and 443 before Cipi installation as Cipi Docs requires.

This is their guide to do it: https://www.oracle.com/webfolder/technetwork/tutorials/obe/cloud/compute/permitting_public_tcp_traffic_to_compute_instances/permitting_public_tcp_traffic_to_compute_instances.html.

Other providers

[2022-01-10 17:11] xerudro commented on #327
I am back, Andrea . Yes it is possible to open the ports before You install
the panel. But the architecture is supported by your panel ? The Oracle
uses arm based os-es.

lun., 10 ian. 2022, 18:22 monkeyhostit ***@***.***> a scris:

[2022-01-10 18:29] andreapollastri commented on #327
Yes! I confirm everything! In Oracle the only problem are HTTP and HTTPS ports! No issue with ARM! Let me know if you will solve it! Best, Andrea

[2022-01-10 18:30] xerudro commented on #327
Awesome, thanks!

lun., 10 ian. 2022, 20:29 Andrea Pollastri ***@***.***> a
scris:

[2022-01-11 06:27] fatihalp opened #362 "Generating username from domain name could be better"
I'm making lots of changes from ssh console. Then it's hard to change working directory when you have random generated usernames.

like:

`$site->username   =  substr ( strtolower($request->domain), 0, 8 );`

What do you think?

[2022-01-11 12:20] xerudro commented on #327
Hi again Andrea, yes i managed to install it successfully on Oracle Cloud
Free Tier. Now i have another problem. How to install Wordpress using your
panel ? Any guide somewhere ? Even a youtube video from someone else would
be helpful. So you can install it on Oracle. It works. For things to work,
you need to create an VM instance, after that when the instance starts to
run, you need to edit the s

[2022-01-11 12:54] andreapollastri commented on #362
Hi! Thank You for the issue!

Cipi was made thinking to a different use than your massive Editing of sites configuration so I'm sorry if the usernames will take slow your process.

Anyway, your idea could not be considered because:

- username has to be unique and a domain trim is not unique (you could have similar domains)

- username is absolute and it can't be changed, domain is relative to use

[2022-01-11 12:54] #362 closed

[2022-01-11 14:27] fatihalp commented on #362
First of all, there may be a one in a billion duplicate in the current situation :)

I was thinking same way you about security. I realized that user experience is more important than anything else.
 I really liked project even I was thinking start same kind of project and you already did it which is same logic with me.

![image](https://user-images.githubusercontent.com/219454/148958708-0e33364c-

[2022-01-11 17:14] andreapollastri commented on #327
Hi! Try to follow this tutorial: https://www.youtube.com/watch?v=1JpvO7x2fzU. Let me know! Best. Andrea

[2022-01-11 17:25] andreapollastri commented on #362
Hi, you are right, cPanel and Plesk let to customize username and password but I really don't like this approach and I think that user experience is very important but security is most important than anything else.

Anyway, about UI, personally I like the concept of:
- automatic isolation of users
- autogenerated "anonymus" credentials
so everyone can create a secure site with Cipi in a few clicks

[2022-01-11 20:51] ciahype opened #363 "Problema com CIPI"
Olá, me chamo Hiago
Não estou conseguindo excluir site e nem adicionar novos servidores!

[2022-01-11 20:56] andreapollastri commented on #363
Hi... can you write in English? I can't understand your lang!

[2022-01-11 20:58] ciahype commented on #363
Hi, my name is Hiago
I'm not able to delete site or add new servers!

[2022-01-11 21:03] andreapollastri commented on #363
Ok! Give me some more information... What version are you using? These function worked before today?!? Other functions are working? Did you customize something?

Your errors have no know history and my test and prod panels are running well!

Give me more details! Currently I can't help you!

[2022-01-11 21:08] ciahype commented on #363
I'm using version 3.1.15.
I don't know if they worked before first time using this tool.
I didn't customize anything.
other than that, yes it works.

[2022-01-11 21:09] ciahype commented on #363
after I put the custom URL of the server that these functions stopped working!

[2022-01-11 21:11] andreapollastri commented on #363
Where did you put an IRL? In server detail or in settings?

[2022-01-11 21:11] andreapollastri commented on #363
*URL

[2022-01-11 21:12] ciahype commented on #363
in the settings inside the panel!

[2022-01-11 21:13] ciahype commented on #363
Is there any way to install the previous version?

[2022-01-11 21:14] andreapollastri commented on #363
Ok, and now everything works but not delete site and add new server right? Are you using the panel by ip or by the new url? Did you generate a ssl cert for that url?

[2022-01-11 21:15] andreapollastri commented on #363
So you had version 2 before on the same server?

[2022-01-11 21:17] ciahype commented on #363
I can add more I can't delete.
access via the new URL.
No, the installation was clean!

[2022-01-11 21:18] ciahype commented on #363
the server was cleaned before installing CIPI

[2022-01-11 21:24] andreapollastri commented on #363
Ok! Let me check! To help you I have to replicate the error but I don't have errors in all my panels!

What provider are you using that I'll try on that VPS type! Also if is very strange this issue!

When you click delete do you receive any error message or do you have any JS error in console?

Currently I don't have any element  to understand what happens in you case!

[2022-01-11 21:25] ciahype commented on #363
Want dashboard access to see errors?

[2022-01-11 21:27] andreapollastri commented on #363
No no, I don't want private data! I have to replicate the error on a my own system! I'll try to create a vps on your provider! What provider are you using?

[2022-01-11 21:28] ciahype commented on #363
AWS

[2022-01-11 21:30] andreapollastri commented on #363
Ok! I have an operative vps there! Now I try to make a new installation! In the meanwhile check if port 443 is open (was doesn't open it by default). I will check and I'll update this issue in next hours! Thank you for the issue

[2022-01-11 21:33] ciahype commented on #363
ports 80, 443 and 22 are open!

[2022-01-11 21:36] ciahype commented on #363
I thank you for your attention to my problem!

[2022-01-12 15:25] fatihalp commented on #363
Better to have issue templetes @andreapollastri

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your

[2022-01-12 23:00] andreapollastri commented on #363
Hello @ciahype! I've checked Cipi on Aws ec2 and on aws lightsail installing it several times and using it for hours and I didn't found any error! I'm really sorry but I can't help you in this case!
If you want, send me your panel credentials (set a temp pwd) via mail at hello@cipi.sh but I don't like to manage other people credentials so if you can avoid I'll be happy! Let me know!

@fatihalp tha

[2022-01-12 23:01] #363 closed

[2022-01-13 13:16] Donniewr opened #364 "Restarting system services not working."
Hello,

The button to restart system services are not working, I had to manually restart PHP with a command to see the change I made to my user.ini file.

I'm the only one with this issue?

[2022-01-13 13:53] ciahype commented on #363
Find out where the error was.
the error was that i was changing the php version of the application thinking i was changing the php version of the website i had.

I redid the installation without changing the php and there was no error!

[2022-01-13 13:56] ciahype commented on #363
I've tried several times, but I get the error:  **The given credentials do not match any records.**

[2022-01-13 13:56] ciahype commented on #363
I tried in many ways!

[2022-01-13 17:21] andreapollastri commented on #363
Hi! You are right! Mobile Application is not updated to new Cipi Version! @ChristianGiupponi is working on it and we have to wait Google play approvements to publish a new release!

[2022-01-13 17:27] andreapollastri commented on #364
Hi... by default, you cannot edit any .ini file as docs explains https://cipi.sh/docs.html.

Anyway, the restart commands are:

switch ($service) {
                case 'nginx':
                    $ssh->exec('sudo systemctl restart nginx.service');
                    break;
                case 'php':
                    $ssh->exec('sudo service php8.1-fpm restart');
                    $ssh->ex

[2022-01-13 17:28] #364 closed

[2022-01-13 17:52] Donniewr commented on #364
What do you mean? my .user.ini file is working but I had to restart php using SSH instead of the control panel. It seems that the button are not restarting anything.

It's the same with nginx, I edited my nginx conf files and I had to restart it using SSH.

[2022-01-13 17:55] andreapollastri commented on #364
Ok! I will recheck but the commands that I posted Are correctly linked to buttons!

[2022-01-13 18:00] Donniewr commented on #364
Ok thanks, I'll do some testing tomorrow and try to find the problem. It could be something related to permission like the issue I reported before.

[2022-01-14 12:49] Donniewr commented on #364
I can confirm that there is a problem, I just tested on a fresh Linode server, I edited the nginx.conf and tried the restart nginx with the button in the panel but nothing was happening. Using ` sudo service nginx restart` worked.

[2022-01-14 17:39] andreapollastri commented on #364
Ok... I'll check the problem and fix it in next release!

[2022-01-16 11:16] Donniewr opened #368 "Remove Node.js"
Hello,

Is it possible to remove Node.js from my server without breaking anything? I'm using CIPI for Wordpress and other PHP apps and I don't need it.

I also get "The deferred dom node could not be resolved to a valid node" sometimes in the browser console on my sites. This is caused by nodejs.

Thanks.

[2022-01-17 01:16] andreapollastri commented on #368
Hi! Node is installed but not exposed as "server". It is installed to run npm commands.

Anyway, if you want remove it, run:

sudo apt remove nodejs
sudo apt purge nodejs
sudo apt autoremove

[2022-01-17 01:16] #368 closed

[2022-01-17 13:43] Donniewr opened #369 "Updated Nginx version"
Hello,

Do you think it will be possible to update Nginx version in the next update? Or we will have to wait for Ubuntu 22.04. It is using 1.18, last version is 1.21.

[2022-01-17 13:57] RVL-Solutions opened #370 "Blank page after fresh, succesfull installation through Documentation suggested method"
I did the installation on a fresh new Ubuntu 20.04 LTS VPS hosted by Contabo.
I followed the instructions from the Documentation, using the ` wget -O - https://cipi.sh/go.sh | bash` method.

But when I navigate to the given url (public IP) I get a blank page.
Debug console tells me `500 Internal Server Error`

The ssh console shows (deducted sensitive details);

[code]

[2022-01-17 17:15] andreapollastri commented on #369
No way in Ubuntu 20.04... 22.04 with new nginx will be available in next months!

[2022-01-17 17:15] #369 closed

[2022-01-17 17:17] andreapollastri commented on #370
Hi! Thank you for the issue, I'm sorry to hear it! Can you share me the error log that you can find at: var/www/html/storage/logs/laravel.log?

Thank You

[2022-01-17 19:07] RVL-Solutions commented on #370
Unfortunately, there seems to be no such file within that directory!

Could that be due to me rebooting the VPS in the meantime? If so, I'll gladly reset the VPS and try installing again.

[2022-01-17 19:44] rkmaier opened #371 "sites added in cipi not created on server"
I manged to add my first site using the cpanel in CIPI, but none of the other sites  I added after that are created on the server and I don't see any error messages.

[2022-01-17 20:10] RVL-Solutions commented on #370
I think I figured out what went wrong. I vaguely remembered seeing something about failing to get some GPG key, so when scrolling through the install script I tried adding the PPA manually and there it was; Timeout error on obtaining the GPG key.

Reset the VM, started fresh and ran script again.
So far so good. Will keep you updated.

[2022-01-18 06:19] andreapollastri commented on #370
Hi! Contabo always gave me Issues with Linux repositories, I think that it is using custom repos. So I'm sorry if the installation process is not perfect! If Cipi works I'm happy... Cipi has been tested on Contabo in v3.0 (php8 not 8.1) and it worked. I suppose that their repositories for PHP8.1 are not stable or ready yet! Sorry. It's not a Cipi problem... I hope that Contabo will adapt its syste

[2022-01-18 06:22] andreapollastri commented on #371
Do you receive any error? Are you sure that vuoi does not create any virtual host after the first? It's really illogical this behavior! Give me more details about this issue! (Provider, how are you checking the issue, ...)

[2022-01-18 06:26] andreapollastri commented on #370
Ps... anyway thank you for the support and the check about this problem! I think that you installation is OK but I suggest to you to set PHP 8.0 to server and sites (not 8.1 for the report that you pasted here).
If you want check if the system has any error, you have to monitor
/var/www/html/storage/logs/laravel.log file! If it is missed, you have no errors!

[2022-01-18 06:26] #370 closed

[2022-01-18 07:00] rkmaier commented on #371
Hi, well the site details are added to cipi database but the user for the new site is not created (no new user folder created), so I couldn't connect to it using ssh.  Im using a dev domain, which requires ssl by default, maybe that's the issue.

[2022-01-18 07:13] andreapollastri commented on #371
oK! It's very strange! By my Side this version of cipi has no problem in user creation but that step is complex... the steps are:

- creating user in db
- creating a job that will connect in ssh to your server run:
- user creation, virtual host creation

So the problems could be:
- supervisor for the jobs
- ssh connection (firewall, credentials, ...)
- other

I don't have access to your current si

[2022-01-18 08:37] Donniewr commented on #371
I had the same issue, the problem was the the permissions in`/var/www/html ` Check the permissions of that folder.

https://github.com/andreapollastri/cipi/issues/347

[2022-01-18 08:45] Donniewr opened #372 "Deleted."
Not related to CIPI, please delete this post.

[2022-01-18 16:01] Donniewr commented on #372
My bad, the issue was related to the PHP app I'm using. It is now fixed.

[2022-01-18 19:18] #372 closed

[2022-01-18 19:18] #371 closed

[2022-01-20 15:38] ausittechdirect opened #373 "Issues Installing the gRPC extension"
Hi

Trying to install the gRPC google PHP extension how can I do this?

[2022-01-20 19:16] rkmaier commented on #371
@andreapollastri  Checked the jobs, it shows them as processed but the new site is not created.
No error in the laravel log file.
Ports seem fine.

I tried to run the commands froms the NewSite Job manually and this is what I get:
`unlink: cannot unlink 'newsite': No such file or directory`

[2022-01-20 19:19] rkmaier opened #374 "New site is not created on servers"
#371

@andreapollastri  Checked the jobs, it shows them as processed but the new site is not created.
No error in the laravel log file.
Ports seem fine.

I tried to run the commands froms the NewSite Job manually and this is what I get:
`unlink: cannot unlink 'newsite': No such file or directory`

[2022-01-20 19:23] andreapollastri commented on #373
Hi!
This PHP extension does not come by default so you have to log into SSH as root (cipi) and follow this tutorial: https://grpc.io/docs/languages/php/basics/.

No official Cipi support for this library!

[2022-01-20 19:23] #373 closed

[2022-01-20 19:28] andreapollastri commented on #374
Hi! This issue is related to Issue #371!

I'm sorry but I have no elements to help you! It's very strange your situation and I can't replicate it in my server because cipi works correctly!

Anyway you cannot run a job manually without any data payload so the error that you have got during debug is ok!

Give me more information... what provider are you using that I try to install cipi there?
What's

[2022-01-20 19:47] rkmaier commented on #374
Hi,

I'm using Hetzner as Provider for my servers.

[2022-01-20 22:56] ausittechdirect commented on #373
Hi Andrea

I have looked at this but it seems to want to install into the wrong directory.

Is there somewhere specific I need to compile it?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Andrea Pollastri ***@***.***>
Sent: Friday, January 21, 2022 5:23:51 AM
To: andreapollastri/cipi ***@***.***>
Cc: AUS IT Tech Direct ***@***.***>; Author ***@***.***>
Sub

[2022-01-20 23:22] ausittechdirect commented on #373
Just reading your message and see you say (cipi) do I have to make this change on the main CIPI server or do I do this on the node server that servers the site?

[2022-01-21 06:49] ausittechdirect commented on #373
Can I possible Pay you to implement this for me?

[2022-01-21 06:59] andreapollastri commented on #373
Hi, sorry but I don't have time to support and manage custom implementations. Anyway, I don't know that product and I never used it so I'm not expert about its integration so I can't sell to you something that I can just try to do but without guarantees.

About the server... you have to install it into the server (main or node) that hosts the site with the application that needs the extension.

I'

[2022-01-21 07:01] andreapollastri commented on #374
Ok! I have installed on the same provider a brand new version of Cipi and I have no issues within sites! Please help me to help you! I can't replicate your error so by my side Cipi is ok, I don't know the flow and the situation that gives you errors! Sorry!

[2022-01-21 07:01] #374 closed

[2022-01-21 07:08] ausittechdirect commented on #373
Ok Cool
Appreciate your honesty.

[2022-01-21 08:56] ubxty opened #377 "Custom Repository Support"
Update the deploy script to allow other git providers , such as gitlab , bitbucket

[2022-01-21 09:32] ubxty opened #378 "base path update error : not updating sites-enabled"
Updating a base path for a domain , updates it in sites-available , but not in sites-enabled . if not updated in sites-enabled , nginx will not read the updated path,

Also add an option to restart nginx after updating the path , as restart is required for the path changed to be effective

[2022-01-21 15:15] ubxty opened #379 "Mariadb support"
Add option to use mariadb along with mysql

[2022-01-21 15:24] ubxty opened #380 "cipi Android app: Unable to Login"
Tried all possible username , password / domain combinations
Unable to login

[2022-01-21 15:26] andreapollastri commented on #380
Hi @christiangiupponi is working to solve it! It's not my repository! Sorry... we have to wait!

[2022-01-21 15:28] andreapollastri commented on #379
Sorry but it's not in roadmap! MySQL is more standard and has more functions than Mariadb and in v8 the performance are equal to mariadb so I'll not integrate a support to Mariadb, feel free to change it into your own server.

[2022-01-21 15:28] #379 closed

[2022-01-21 15:29] andreapollastri commented on #378
Thank you for the issue, I'll check this case in next hours!

[2022-01-21 15:29] andreapollastri commented on #377
Currently is not supported. Maybe in version 4

[2022-01-21 15:29] #377 closed

[2022-01-21 15:33] ubxty commented on #380
@ChristianGiupponi Any plans on making the Mobile App opensource ?

[2022-01-21 20:20] corretores opened #381 "Limit the size of each site"
Hello, I have a project where I'm going to put several sites, but I need to have control of disk usage, do you intend to implement this functionality in the panel, or what way to do it?

[2022-01-22 07:00] ubxty opened #382 "Cleaner Account naming"
While creating a new site , the username generated is random , Instead use a cleaner name generation based on domain/site

For eg: If site is beta.sample.com => name the account as betasamplecom and ssh login is betasamplecom@192.168.1.1

[2022-01-22 07:02] ubxty opened #383 "Nodejs in install script"
Include the v14 or v12 of node js in the initial cipi.sh install script

[2022-01-22 07:04] ubxty opened #384 "php opcache"
Ability to enable / disable php opcache from the admin , to speedup the website operations

[2022-01-22 07:13] ubxty opened #385 "History Module"
Maintain a history of different operations performed on website / server

For example : SSL issued / Renewed
website path changed
git deployed

[2022-01-22 07:20] ubxty opened #386 "Force https"
Option to force https for a domain that has the ssl enabled

[2022-01-22 07:44] ubxty opened #387 "Security : ssh key based login for domain accounts"
Only the root/cipi account should be accessible using password , rest all accounts should only be accessible via ssh key

[2022-01-22 07:56] ubxty opened #388 "Cipi Webapp security"
The webapp and api needs an enhanced security .
Consider using passport as authentication provider .

[2022-01-22 12:29] Donniewr commented on #382
I'm requesting this feature too.

https://github.com/andreapollastri/cipi/discussions/376

[2022-01-22 12:33] Donniewr commented on #388
A brute force protection on the Cipi login page would be a good thing too.

[2022-01-22 12:37] Donniewr commented on #386
I think it is done by default when you enable SSL, I was automatically redirected to https and and unable to access the site using HTTP. Could be the browser upgrading it automatically, not sure.

[2022-01-22 12:39] ubxty commented on #386
@Donniewr I mean , to let the user decide if they want to enable the redirect via the nginx or not , as this creates an infinite redirect loop , with cloudflare , if https is forced from both

[2022-01-22 12:40] ubxty commented on #388
@Donniewr Yes and laravel natively support rate limiting , so those features can be used

[2022-01-22 12:41] ubxty commented on #384
@Donniewr It should be optional for user to enable / disable , as it creates an issue with development servers when the code changes donot reflect , unless the user has restarted the fpm

[2022-01-22 12:43] Donniewr commented on #386
Change your SSL option in Cloudflare from Flexible to ​Full (strict).

[2022-01-23 17:43] Donniewr opened #389 "Accessing the server IP using HTTPS redirect to website."
Hello,

If you access the server IP using HTTPS you are redirected to the first website you added to the server, expected or a bug?

Example: `https://123.123.124.10  ==>> https://mysite.com`

I found this bug while looking at my website logs.

Thanks,

[2022-01-24 13:14] Noaber commented on #382
Correct me if I am wrong, but @andreapollastri said that the random names is there for security (not guessable)

[2022-01-24 21:54] andreapollastri commented on #389
Hi! it's an organic behavior
! IP does not support https and Cipi (as cpanel and similar) returns the first https site! If you want use https with cipi  you have to assign a panel domain and generate let's encrypt from panel!

[2022-01-24 21:55] #389 closed

[2022-01-24 21:56] andreapollastri commented on #388
Hi this function is used and Cipi uses JWT standards! Anyway I'm v4 It will use Laravel Jetstream! So wait for new release!

[2022-01-24 21:56] #388 closed

[2022-01-24 22:00] andreapollastri commented on #387
Hi, I don't agree... site accounts are limited, cipi account is "root", so maybe SSH key could be on cipi user and other limited site users can use password.

Anyway I would like leave cipi a simple panel for all developers and password is more simple than ssh key to use!

[2022-01-24 22:00] #387 closed

[2022-01-24 22:02] andreapollastri commented on #386
Hi! Currently... You can do it in your PHP app or via custom Nginx conf!

I'll add it for v4 features!

[2022-01-24 22:02] andreapollastri commented on #385
Good idea for v4! Thank You

[2022-01-24 22:02] #385 closed

[2022-01-24 22:07] andreapollastri commented on #384
Hi! The cache has been integrated to support code changes in a short time, I work with it every day and I never had any issue.... anyway I would like to leave cipi a simple panel for devs!

[2022-01-24 22:07] #384 closed

[2022-01-24 22:07] andreapollastri commented on #383
No way! They are unsupported! Sorry

[2022-01-24 22:10] andreapollastri commented on #382
Hi!
In my opinion... Username has to be unique and not refered to site domain (that can be changed).
So I prefer to leave the randrom username that generate an unique and secure username for devs.

[2022-01-24 22:10] #382 closed

[2022-01-24 22:12] andreapollastri commented on #381
Hi! Cipi has been created for devs and your features seems "a hosting provider" feature so I will evaluate it for new version 4, not for current version

[2022-01-24 22:15] andreapollastri commented on #378
I don't have the same issue! Are you sure about it? What provider are you using? And what version of cipi?

The only case that does not change is if you try to leave it blank for an api patch issue that I will solve soon... in other cases it works!

[2022-01-24 22:15] #378 closed

[2022-01-24 22:15] #380 closed

[2022-01-24 22:15] #383 closed

[2022-01-25 11:36] corretores commented on #381
Thanks Andrea for the Answer.

[2022-02-04 11:54] munafio opened #390 "Git Auto-deployments"
Hi there,
First, I want to thank you for the great work your are doing here ..

This is not an issue but a festure-to-do actually 😀
It would be better to do auto-deployments for git repos using webhooks as Laravel Forge does, when we push our code to our git repo, Laravel Forge automatically detect it and deploy.

Thanks again ❤️

[2022-02-05 03:35] andreekeberg opened #391 "Getting 404 after install"
I just installed Cipi on a clean VPS with the correct Ubuntu version etc., installation went fine and I was presented with the various credentials after completion like expected.

However no matter which URL I try to visit on the servers public IP (which was also correctly shown on the "Setup complete" step after installation), I am just presented with the default nginx 404 error page.

Doesn't ma

[2022-02-05 12:54] andreapollastri commented on #391
Hi! Thank you for the issue. What provider are you using?

[2022-02-05 13:19] andreekeberg commented on #391
Hi @andreapollastri, thank you for the quick reply!

I'm using a KVM based VPS at a local provider here in Sweden called [GleSYS](https://glesys.com/vps/platforms/kvm).

Should be nothing out of the ordinary, I did choose their cheapest configuration just for testing but it should meet your requirements from what I can see.

Attaching some details about the server here:

<img width="1186" alt="ser

[2022-02-05 16:14] andreapollastri commented on #391
OK! Thank You for the information, I have checked Cipi in several VPS providers and it works without issues on main brands! Maybe this provider uses custom Linux repositories or similar! I will check an installation on it in next days! We have to understand if there is any not fatal error during installation process that corrupts the standard flow of Cipi initialization! In the meanwhile... I'm so

[2022-02-05 16:16] #390 closed

[2022-02-05 16:55] andreekeberg commented on #391
@andreapollastri Thanks a lot! I'd be happy to help debugging if possible, are there any log files created during the install process that I could locate, or maybe something I could tell the installer to do if not, using some option or env value?

I would ask my provider but I doubt they are able to offer any support unfortunately.

Not sure if this helps in any way, but since you mentioned custom

[2022-02-10 09:00] magix01 commented on #391
I think this is the same problem i had with my installation, it seems some providers are running apt-get upgrade on first boot when you initiate vps. Try doing it like this.

1. Wipe/reinstall 20.04
2. As soon as system boots try apt-get update && apt-get upgrade
3. Check if there is any errors

If you get error like the other process is using apt-get and its locked, try to wait a bit since its up

[2022-02-15 17:34] 0x0undefined opened #392 "Server error Missing Authorization."
I have same problem as #248  i dont know how to fix it.

System Error
Ops! Something went wrong... try later!

and in console i found this:
`{"message":"Authorization header missed in payload.","errors":"Missing Authorization."}`

It happened after changing the server ip and rebooting

[2022-02-15 18:33] 0x0undefined commented on #392
I don't know how, but it magically fixed itself but i have another issue...

When I create a page in a panel, the user of that page is not created.

[2022-02-16 18:28] atak011 opened #393 "Server Error After installation"
hi my OS is ubuntu 20.04

im doing fresh install by bash script with wget but after installion i cannot login , network log says "server Error "

[2022-02-17 06:51] fatihalp commented on #393
you need to make debug true and need to see details @atak011

[2022-02-18 21:12] atak011 commented on #393
thank you fatih , i will do that im closing issue now if error continue i will reopen

[2022-02-18 21:12] #393 closed

[2022-02-19 06:12] noxistudio opened #394 "What am I missing"
I cannot login to the bare ip adress nginx throws a 403...always...I feel like I am missing a step or the dashboard should be on a port number or something

[2022-03-01 08:17] vimal-360 opened #395 "Ssl and Cron is not working"
Can not generate ssl certificate using click button. also I added my laravel path config in crontab still not running cron.

[2022-03-09 12:22] Donniewr commented on #395
SSL is working for me, make sure to point your domain to the server IP and to disable Cloudflare (Gray cloud).

Cronjob on the CIPI interface are using the root user. Try adding the job using your app SSH user instead.

[2022-03-09 12:27] Donniewr commented on #392
Look like you got the same issue I had.

Check how I fixed it here:
https://github.com/andreapollastri/cipi/issues/347

[2022-03-09 13:15] vimal-360 commented on #395
I did all the things like reboot. recheck nameserver etc. still SSL is not generating.
@Donniewr Do you mean the per site ssh user? I did add using cipi admin panel.

[2022-03-10 08:17] vimal-360 commented on #395
@Donniewr I did manually ssl certificate using certbot - nginx now its working. also crontab -e is works. now I ma facing alias  issue. I have x.com.au domain. but for alias www.x.com.au not working. I tried restarting nginx also.  :)

[2022-03-10 10:44] Donniewr commented on #395
Alias works for me, did you add a DNS record (CNAME) for the www domain?

[2022-03-11 11:46] andreapollastri commented on #395
Hi! I checked current version of Cipi and I don't have any issue with cron or SSL features!

[2022-03-11 11:46] #395 closed

[2022-03-11 11:47] andreapollastri commented on #394
Hi! Thank You for the issue but I can't replace the issue so I can't help you! Sorry

[2022-03-11 11:48] #394 closed

[2022-03-11 11:49] andreapollastri commented on #392
Maybe temporaneily your JWT token has been expired! Re-login to fix it!

[2022-03-11 11:49] #392 closed

[2022-03-12 05:13] Kirby-Peter opened #397 "Default login not working"
When I'm on the control panel to login after an install the default username "administrator" and password "12345678" doesn't work.

![image_2022-03-12_001304](https://user-images.githubusercontent.com/65928651/158004821-f9071f35-79e1-47c3-8f0f-a7d8246625d3.png)

[2022-03-12 05:20] Kirby-Peter commented on #397
just wanted to know if I was missing something

[2022-03-17 07:53] cgiupponi commented on #380
Hi @ubxty yes the app will be open source asap!
Which version of cipi are you using?

[2022-03-20 12:56] erdigenc opened #398 "Stucking wait after installation"
When console and controller codes try to reach ping_serverid page with HTTP Client it takes long time to response because of that it stack on server initial setup as waiting. I guess this is the problem origin.

[2022-03-23 11:13] vimal-360 opened #400 "ssh: connect to xxx.xxx.xxx.xxx port 22: Connection refused"
I created new site now I can not connect existing user credentials.

I restarted Droplet many times. now I also can not connect using ssh cipi@ip.

Ssl not working, Cron not working. so much buggy system.

[2022-03-23 19:05] andreapollastri commented on #400
Hi! I'm really sorry to hear about this issue! me and other 5000+ users are using Cipi on several servers without issues!
Your issue seems a firewall lock... what provider are you using? check if it's limiting your access to 22 port!

[2022-03-23 19:05] #400 closed

[2022-03-23 19:07] andreapollastri commented on #398
? Sorry but I can't understand the issue... the issue is that the dashboard is loading slowly?

[2022-03-23 19:08] andreapollastri commented on #397
Hi! I think that something went wrong during installation process! Did you have any error in setup process?

[2022-03-23 19:08] #397 closed

[2022-03-24 04:48] erdigenc commented on #398
After first installation, when i reach dashboard there is a yellow waiting button at servers page and nothing more. The origin of this problem is that what i say previous message, i guess.

[2022-03-24 07:29] vimal-360 commented on #400
I am using Digital Ocean and all firewall config is ok.

[2022-03-24 12:53] Dikoper commented on #397
Hi. No, there was only couple warnings about some package install (cant remember which), but script contunue installation

[2022-03-25 14:18] ririko5834 opened #401 "Feature requests"
Add email hosting, DNS hosting (that you can set nameservers for your domain/subdomain and manage records on cipi), Mysql, PostgreSQL, Mongo and Redis databases (they should be optional, when enabled cipi should auto create database and database user for your website), built-in file editor

[2022-03-25 14:19] ririko5834 opened #402 "Error"
When I try to login with default credentials
![image](https://user-images.githubusercontent.com/64729293/160138349-48ef7f5e-c92e-4a85-b750-f2d573fa13ef.png)

After running install command second time
![image](https://user-images.githubusercontent.com/64729293/160138531-b3096532-705a-472a-8b21-0bcb58cf3e1c.png)

Ubuntu 20.24, arm-based CPU instance from oracle

[2022-03-30 08:42] dfag86 commented on #402
I have the same.  Clean installation on something Ubuntu, all ok. Enter default login credentials and error.  Login is not working.

[2022-04-02 17:38] HomaEEE commented on #400
Some error after reboot VPS, 22 port is open

[2022-04-03 13:03] erenergul opened #404 "At least somebody can show us force https nginx.conf ?"
Hello , I read all documents and all request and errors but I couldn't find any sample. How to force laravel app https ? I found lots of solutions but nothing worked. I really dont understand and I dont want to spend 6 hours to fix force https ? Can you let us know how to do it ? Any example code ?

ssh to website user and sudo nano conf file like below
I dont know any nginx configuration so i tri

[2022-04-04 12:52] erenergul opened #405 "Ssl issue"
Hello , I still have issue with ssl. Its really annoying. I generate ssl certificate for my laravel website but When i try to put https after generate browser redirect my another website. Looks like it doesnt sync ssl certificate to my laravel website. How can i see ssl log ? Whats going on and whats the error ?

[2022-04-04 21:35] #404 closed

[2022-04-15 19:10] dfag86 commented on #405
does the panel work?  is the project active?  I have a login error after installation.  I can't even go inside.

[2022-04-15 19:11] dfag86 commented on #398
Is the Cipi project active?  for me, after installation, I immediately tried to log in.  The same for others 😞

[2022-04-15 19:56] erdigenc commented on #398
Cipi is trying to ping some pages for making system ready. But there is a problem on reaching this page with HTTP Client. It can not reach pages and stuck. Because of it did not receive any response from this pages, that server installiation can not be complete.

[2022-04-17 13:39] andrewgosselin commented on #226
Hey I just installed the latest version of Cipi on a new install of Ubuntu 20.0.4 on a Contabo L size VPS and I am getting a 502 Bad Gateway. When installing it I noticed it couldn't find a bunch of PHP 8 packages so I assume it's the same missing repository issue listed above.

[2022-04-19 00:43] mobi974 opened #407 "domain name to access dashboard"
Hi I put a domain name to access to the dashboard and now I'm not able anymore to access to the dashboard with the Ip or the domain nmae it's the same.
How could I correct it please ?

[2022-04-21 19:22] ivan-vilches opened #408 "the project is still active?"
the project is still active?   do you use with production sites? thanks you

[2022-04-23 08:07] Donniewr commented on #408
Yes I use CIPI on 3 production sites. I hope @andreapollastri is planning on updating the project soon to support Ubuntu 22.04 LTS.

[2022-04-23 10:04] dfag86 commented on #408
Currently, the installation is not working and the support does not exist, so I will not risk the production pages.

[2022-04-23 16:29] Donniewr commented on #408
It works for me, what is your server provider? I use it on a dedicated server, Linode and another provider without any issues.

[2022-04-23 16:48] dfag86 commented on #408
with different operators, I tried something with three.  Installation ok and then the default login details are not working.

[2022-04-23 18:56] Donniewr commented on #408
That's weird, maybe it's something related to your keyboard language or something like that. Try copy pasting the login details. Also check your browser console on the login page and look for errors.

[2022-04-23 19:01] Donniewr commented on #402
Oracle server are not supported.
https://github.com/andreapollastri/cipi#installation-note

[2022-04-23 19:22] dfag86 commented on #408
yes, it is strange, but I was not the only one with such a problem.  I reported it here on another thread along with another person and silence.  There was no response.  There were no typos or blank characters.  Everything is checked and copied straight away.

[2022-04-26 18:21] pluginslab opened #409 "Site created in CIPI's database, not on server"
I've been using CIPI for a while now, the first server is running for almost an year now, and now on a second server, I was able to create one site, and from the second on onwards, it just creates them within the dashboard (cipi admin), there's no home folder for that username, nor a website.

So I have only one sites-available for NGINX, only one user inside /home/, but 3 sites on the dashboard.

[2022-04-29 17:50] retronoodle opened #410 "Whole server went down impossible to connect"
I had just set up 8 sites and everything was going fine, but then I went to change the domain name of the cipi panel itself and the whole thing just .... died.

No sites, no ssh even the digital ocean's last ditch console failed to connect to it. It's a dead box now - any thoughts on what I did or what I can do?

Thanks

[2022-04-29 18:12] retronoodle commented on #410
Ok figured it out - it had simultaneously put me in fail2ban AND created a bad simlink to panel.conf in NGINX so when it tried to restart nginx that failed, and when I tried to SSH in to see what was up, there was a strange error that the public key was unusable even though it was "accepted" by the server. Which apparently was when fail2ban was activated.

Overall, I'd say there *may* be an error

[2022-05-10 22:54] gorfreed commented on #397
I have to confirm. Cipi install is currently not working. I tried on two different machines with the same result: After a very lengthy installation process (seriously, ALL php versions + their extensions need to be installed?), it is impossible to log into the Dashboard with the credentials "Administrator" / "12345678".

[2022-05-10 22:55] gorfreed opened #411 "Default Login not working after Installation (#397"
I have to confirm #397 as not resolved. Cipi install is currently not working. I tried on two different machines with the same result: After a very lengthy installation process (seriously, ALL php versions + their extensions need to be installed?), it is impossible to log into the Dashboard with the credentials "Administrator" / "12345678".

[2022-05-20 09:17] Noaber commented on #408
@andreapollastri : Is this project still in active development ?

[2022-05-20 12:47] hobhobuk opened #412 "Is Cipi secure from exploits?"
Hey,

Cipi sounds really great and sounds ideal for my needs.  However was googling for some opinions etc, as you do. and stumbled across this;

https://packetstormsecurity.com/files/166161/cipicp3115-xss.txt

Is this something that should be of concern?

[2022-05-20 18:13] Donniewr commented on #412
@andreapollastri should check out this asap.

[2022-05-23 17:19] PudlatyPL opened #413 "Database (MySQL) on an external host"
Hello, I have question associated with the panel. How to set on external database? I changed mysql addres on .env but nothing has changed, the panel still uses the old one

[2022-05-24 08:58] shahidkarimi opened #414 "websites having upstream issue"
Getting this error on apps installed via cipi
`*40 upstream sent too big header while reading response header from upstream, client:`

[2022-06-08 21:14] itzdrli opened #416 "What system does cipi support"
hi, i wanna try cipi panel, but when i check the document, it says only supports ubuntu 20.04?
Does cipi supports other systems like debian 10/11 or ubuntu 22.04 and more?

[2022-06-08 22:21] Alnaggar94 commented on #416
As I know it only support Ubuntu 18, and 20

[2022-06-08 22:22] Alnaggar94 commented on #413
@PudlatyPL
I'm looking for the same, have you found a solution?

[2022-06-09 04:54] PudlatyPL commented on #413
No

[2022-06-09 12:19] Donniewr commented on #416
Only 20.04 but the project author said he is working on 22.04 support. he said June.